[2017-01-21 09:23] oddhack opened #1 "Put ref pages in this repo or a separate one?"
Adding all the GL and ES ref page trees would increase the size of this repo by about 50% (80 MB or so), and it's already pretty huge. OTOH it's convenient to have them in the same place as the registry. TBD.

[2017-01-21 09:41] oddhack opened #2 "Add script to determine next free ARB / GL / ES extension number"
This is trivial to do but will become important when extensions are added, because scanning extensions/registry.py manually doesn't reveal this information. It can be inferred by looking at the ends of the extensions/*ext.php lists but that is a pain.

[2017-01-22 00:25] oddhack opened #3 "MESA_shader_integer_functions needs to have ES dependencies section added"
When this was registered, I was told that "the spec is applicable to both desktop OpenGL and OpenGL ES". However, the dependencies section does not say what the required version of ES or ESSL is. Until someone from Mesa corrects this, it will not be tagged as part of the ES registry in extensions/registry.py, just the GL registry.

https://www.khronos.org/registry/OpenGL/extensions/MESA/MESA_shade

[2017-01-22 00:28] oddhack opened #4 "Update XML/headers for missing extensions"
Need to add interfaces for the following extensions to gl.xml and the generated extension headers. There was some urgency about publishing these prior to SIGGRAPH and the XML changes were skipped.

* MESA_shader_integer_functions (#495)
* NVX_blend_equation_advanced_multi_draw_buffers (#492)
* ARB_gl_spirv (ARB #190)
* NV_gpu_multicast (#494)
* NVX_linked_gpu_multicast (#493)

[2017-01-25 08:55] oddhack commented on #2
Done in extensions/nextfree.py .

[2017-01-25 08:55] #2 closed

[2017-01-25 08:56] oddhack commented on #1
They are being moved into a combined OpenGL-Refpages repo which will be published relatively soon.

[2017-01-25 08:56] #1 closed

[2017-01-27 04:20] NicolBolas opened #5 "GLSL 4.50: layout qualifier table is missing `offset` when applied to atomic counters."
Chapter 4.4 in GLSL 4.50 (revision 6) is missing an entry in the layout qualifier table. Atomic counters can use the `offset` qualifier (4.4.6.1), but it is not listed in the table as being valid.

[2017-01-27 05:10] NicolBolas opened #6 "GL_KHR_texture_compression_astc_hdr interactions with desktop OpenGL"
After looking at this specification, it is not clear how it interacts with features of desktop OpenGL that are not present in OpenGL ES 3.0+.

For example, in desktop GL, you are allowed to use `glCompressedTexSubImage*D` to modify any arbitrary rectangle, so long as the specified rectangle is along the block size boundary for the format. But in ES 3.0, you're only allowed to modify a rectangle th

[2017-01-28 15:06] TobiasHector commented on #6
@NicolBolas could you raise a separate issue for your "other important point" at the bottom? That should probably be tracked separately.

[2017-01-28 16:01] NicolBolas opened #8 "GL_KHR_texture_compression_astc_ldr/hdr mipmap size restrictions"
The GL_KHR_texture_compression_astc_ldr/hdr extension seems to say that ASTC-compressed textures must have each mipmap layers' width and height be multiples of block sizes. Is this intended, as no other compressed format works that way. Even ES 3.0 has no language stating that its compressed formats are required to be multiples of block sizes. Not only that, it doesn't fit the wording for `glTexSt

[2017-01-28 16:02] NicolBolas commented on #6
@TobiasHector : Done. See issue #8

[2017-01-28 16:02] TobiasHector commented on #6
Thanks!

[2017-01-29 11:01] abbradar opened #9 "GL/glplatform.h header"
Generated [gl.h](https://github.com/KhronosGroup/OpenGL-Registry/blob/master/api/GL/gl.h#L39) file mentions `GL/glplatform.h`, but I can't find any mention of this file anywhere. Is there a mistake or have I just searched too shallowly?

[2017-01-29 11:18] oddhack commented on #9
Nobody actually uses this header and it has not been throughly debugged.  That's why it isn't linked from the registry. There was some notional interest by some of the Linux distributors / Mesa folks in moving to an autogenerated header instead of their handwritten header, and to that end we woudl probably want to capture the horrid conditional logic for platform-dependent stuff in a separate glpl

[2017-01-29 13:01] abbradar commented on #9
That was exactly what I was interested in trying (move a cross-platform package set, Nixpkgs, to those autogenerated headers instead of Mesa ones). I'll just stick to Mesa for now; thanks for the explanation!

[2017-02-04 11:35] Dav1dde opened #10 "SVN, Github mirrors - Stable branch?"
I am the developer of [glad](https://github.com/Dav1dde/glad) and currently in glad the [SVN/CVS](https://cvs.khronos.org/svn/repos/ogl/trunk/doc/registry/public/api/) will be used to download specifications (as well as for daily updates on the online generator).

Now with https://github.com/Dav1dde/glad/issues/73 the issue arose of a bug in the spec, you guys fixed the issue very quickly here, bu

[2017-02-04 18:25] oddhack commented on #10
SVN is no longer being maintained. If it will help make that clear I'll add a couple of README files in places you suggest. We can't really get rid of it since it will instantly break projects such as yours, but we can try to make it more clear that it is falling out of date.

[2017-02-04 18:37] Dav1dde commented on #10
Alright thanks for the clarification, I will update all links to use Github.

[2017-02-04 18:37] #10 closed

[2017-02-04 21:20] NicolBolas opened #11 "Program interface query doesn't talk about subroutine queries."
In 7.3.1 of OpenGL 4.5, when explaining the behavior of `glGetProgramResource`, the behavior of the properties `GL_NUM_COMPATIBLE_SUBROUTINES` and `GL_COMPATIBLE_SUBROUTINES` are never explained. This also causes a problem with the subroutine introspection APIs added to 4.0, since they are now defined in terms of the behavior of those two properties. Which are not described.

[2017-02-04 23:32] oddhack commented on #9
I pulled the gl.h/glx.h/wgl.h headers out of the tree and left some comments in the xml/ directory on their existence for those inclined to experiment. Hopefully that's a good medium.

[2017-02-04 23:32] #9 closed

[2017-02-08 23:35] mdsitton opened #13 "Split opengl 1.1 and opengl 1.0 enums"
Currently many of the opengl 1.0 enums are included with the opengl 1.1 enums. There is a comment mentioning this in the xml, but i'd like to see this fixed.

[2017-02-09 00:23] oddhack commented on #13
You are welcome to propose a PR doing this. It's a nuisance to even *find* a GL 1.0 header file at this point.

[2017-02-09 03:14] mdsitton commented on #13
Well I actually did track one down a few months ago and created a list of gl 1.0 enums for my project so I may do a pr if i get the time.

[2017-02-09 03:44] mdsitton commented on #13
So i actually just wrote a quick python script to separate them out based on the list i had so it was fairly simple. Pull request submitted #14

[2017-02-09 11:14] #13 closed

[2017-02-10 18:56] pdaniell-nv commented on #8
Thanks for the bug report. We have filed an internal issue to address the problem.

[2017-02-11 00:11] NicolBolas opened #15 "DispatchComputeIndirect error list in GL 4.5"
The error list `DispatchComputeIndirect` says:

DRAW_INDIRECT_BUFFER binding.

I'm fairly sure that should be `DISPATCH_INDIRECT_BUFFER`, not _`DRAW`_.

[2017-02-11 00:20] NicolBolas opened #16 "Validity testing for binding points"
Note that this bug was taken from [the Bugzilla database](https://www.khronos.org/bugzilla/show_bug.cgi?id=1448). There was a response that indicated that this would be discussed and corrected, but new versions of the specification were published since then, and the issue remains.

----

There are several scenarios that the OpenGL specification does not explicitly disallow which are... dubious. Fo

[2017-02-11 00:59] oddhack commented on #16
I pinged JohnK on the bugzilla. FYI, this repository isn't the right place for API and spec bugs. We'll probably setup some empty language / API repos soon for that purpose, since we get a lot more engagement internally on Github than on public bugzilla - but this is just the registry, not the place where the WGs operate.

[2017-02-11 00:59] #16 closed

[2017-02-15 16:26] janharaldfredriksen-arm commented on #8
I don't think the spec means to say that that mipmap layers's width and height need to be multiples of the block size. (The image size must obviously be a multiple of the block size, but the dimensions shouldn't have to be.)

I think what the spec is trying to say is that:
 - the dimensions passed to CompressedTexImage* must be a multiple of the block size.
 - the dimensions passed to CompressedTe

[2017-02-16 05:53] NicolBolas commented on #8
I did some more research in ES, and I found that this limitation really has been there since at least 3.0 if not earlier.

But that doesn't explain how `glTexStorage2D` works. Consider this error (OpenGL ES 3.2):

So if the block size is 4x4, and I create a 32x16 texture, I could only create 3 mipmap layers if I use `glCompressedTexImage2D`. But according to the above restriction, I should be able

[2017-02-16 06:12] NicolBolas commented on #8
But the dimensions passed to that function are what *defines* each mipmap level's width and height. So if the `width` and `height` parameters are restricted to multiples of the block size for *any call* to that function, you won't be able to call it for mipmap levels unless they too are a multiple of the block size.

If your base level is 60x60 with a 4x4 block size, that's legal and you can call

[2017-02-17 11:22] janharaldfredriksen-arm commented on #8
Thanks, you're right.

We'll need to look at how we can resolve this. We should at least clarify, but whether we can change the described behavior to make more sense depends on what everyone already implements.

[2017-02-21 22:13] jackohound opened #22 "Difficulty pushing new extension to OpenGL-Registry"
I’m trying to push a new OpenGL ES extension to https://github.com/KhronosGroup/OpenGL-Registry,

I created a local branch “add_QCOM_framebuffer_foveated” , tracking origin/master.   I’ve followed the wiki.  When I attempt to push to the remote repo, I get this error:

[code]
The machine I am pushing from is running Ubuntu Linux 14.04.
**I’ve confirmed that I can push to other Github repos from th

[2017-02-21 23:53] oddhack commented on #22
You have to propose a pull request from your personal account - only a couple of gatekeepers are members of KhronosGroup and the appropriate Team, and can push branches directly.

[2017-02-21 23:53] #22 closed

[2017-02-22 16:41] TobiasHector commented on #3
Assigning to myself until I can figure out if the spec author has a github account.

[2017-02-22 16:53] acterhd opened #25 "SPIRV in xmls"
Hello. When  will support of SPIR-V in XML specs?
GLAD library can no at now use this extension.

[2017-02-22 22:54] oddhack commented on #25
Which extension are you having trouble with?

[2017-02-25 09:29] oddhack opened #28 "Add meta tag for viewing on mobile devices"
Some time ago in email, @Khronoswebmaster suggested that we should:

Should revisit this now.

[2017-02-27 14:58] krogueintel opened #29 "VULKANPROCNV undefined"
The type VULKANPROCNV is not defined, but used (for the extension GL_NV_draw_vulkan_image) in a typedef. Naturally, this makes projects fail to compile that include GL/glcorearb.h GL/glext.h or GLES2/gl2ext.h

I was not sure if this bug belonged in Bugzilla or here, for reference the bug in Bugzilla is located at https://www.khronos.org/bugzilla/show_bug.cgi?id=1943

[2017-02-27 15:59] pdaniell-nv commented on #29
Thank for reporting this issue. I'll take a look today and post a fix.

[2017-02-27 20:59] oddhack commented on #29
It belongs here. Please close the bugzilla.

[2017-03-02 08:15] #29 closed

[2017-03-03 00:54] oddhack opened #33 "Are LGPU_SEPARATE_STORAGE_BIT_NVX and PER_GPU_STORAGE_BIT_NV the same thing?"
I'm fixing #4 and noticed that these two enums (in NV_gpu_multicast and NVX_linked_gpu_multicast) are both BufferStorage bits, with the same value, but different names. The spec language appears (effectively) identical for both, but I wanted to make sure these are intended to be semantically the same and can share the BufferStorage behavior.

Also, the MapBufferUsageMask \<enums> group in gl.xml c

[2017-03-03 00:56] oddhack commented on #33
Likewise I see that GL_MAX_LGPU_GPUS_NVX and GL_MULTICAST_GPUS_NV share the same value across the two specs.

[2017-03-03 01:16] #4 closed

[2017-03-03 01:17] oddhack commented on #25
I just added ARB_gl_spirv. Closing this. If there's something else wrong, please reopen the issue and provide more details.

[2017-03-03 01:17] #25 closed

[2017-03-03 16:48] johnkslang commented on #5
This is now fixed internally in Revision 7 of GLSL 4.5.

[2017-03-03 18:59] jschnarr-nv commented on #33
Yes, LGPU_SEPARATE_STORAGE_BIT_NVX and PER_GPU_STORAGE_BIT_NV are equivalent. Likewise MAX_LGPU_GPUS_NVX and MULTICAST_GPUS_NV. The collision is intentional.

Yes this is was the intended use of the reserved bits. We decided to drop the bit that was going to use 0x1000. That reservation can be freed.

Thanks.

[2017-03-03 23:11] oddhack commented on #33
@jschnarr-nv thanks. The headers and gl.xml have been updated - please check them out, if you get a chance.

[2017-03-03 23:11] #33 closed

[2017-03-06 11:16] alberto-cerato opened #35 "Enumeration enum start attribute not updated inside Oculus enumeration of OpenGL xml registry"
Hello,
it look there is a trivial bug in the the start attribute of the Oculus enumeration inside the OpenGL xml registry
https://raw.githubusercontent.com/KhronosGroup/OpenGL-Registry/master/xml/gl.xml

...
 <enum value="0x9633" name="GL_FRAMEBUFFER_INCOMPLETE_VIEW_TARGETS_OVR"/>
       <unused start="0x9633" end="0x963F" vendor="Oculus"/>
...

Added an issues here since it does not look a Khrono

[2017-03-06 11:19] oddhack commented on #35
Fixed, thanks. The unused tag could be autogenerated - it's really just for humans who are allocating new enums - but have never gotten around to it.

[2017-03-06 11:19] #35 closed

[2017-03-19 10:22] xDRL64 opened #37 "Error in doc about cross product"
hello I hope I can post this here.

there is an error on this page :

https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/cross.xhtml

at 'Description'

the last line of the example is :
x[0] × y[1] − y[1] × x[0]

but it should be :
x[0] × y[1] − y[0] × x[1]

by hoping it will help you

keep me in touch when you changed it, please

(sorry for my English, I'm learning)

[2017-03-31 15:45] kaydenl commented on #3
It looks like Mesa exposes this extension with ES 3.0 / GLSL ES 3.00.

Do we just need:
-    GLSL 1.30 is required.
+    GLSL 1.30 (OpenGL) or GLSL ES 3.00 (OpenGL ES) is required.
or do we need additional language?

I'm happy to update the spec in the Mesa repository.

[2017-03-31 21:50] oddhack commented on #3
@kaydenl please review #42, ignore #41. Thanks.

[2017-04-12 08:54] #3 closed

[2017-04-24 08:50] oddhack opened #46 "Parameter names incorrectly changed in PR #45"
I didn't notice until regenerating the headers after merging #45, but this changed the name, and sometimes the type of a number of parameters in gl.xml, in addition to creating new groups. Those parameter name changes are going to have to be reverted. In particular changing GLint internalformat -> GLenum causes API breakage with compatibility mode applications using the very ancient format names 1

[2017-04-24 08:52] #46 closed

[2017-04-24 09:40] pdaniell-nv commented on #5
Closing.

[2017-04-24 09:40] #5 closed

[2017-04-24 15:21] TobiasHector commented on #8
We resolved that nobody has this restriction in their implementation, so is a spec bug. @janharaldfredriksen-arm will propose a PR to remove the offending sentence.

[2017-04-25 09:42] #8 closed

[2017-04-26 20:14] gregtatum opened #52 "Link to GLSL_ES_Specification_1.0.pdf is 404ing on WebGL 1.0 spec."
On the [WebGL 1 spec page](https://www.khronos.org/registry/webgl/specs/latest/1.0/#refsGLES20GLSL) (and on other non-Khronos reference sites), the following link is 404ing:

It is pointing to:

https://www.khronos.org/registry/OpenGL/specs/es/2.0/GLSL_ES_Specification_1.0.pdf

[2017-05-18 10:44] jamesglanvilleIMG opened #57 "Interaction between EXT_shader_framebuffer_fetch and sRGB rendering"
The EXT_shader_framebuffer_fetch specification does not detail the interaction between framebuffer fetch and sRGB rendering.

The correct behaviour in this case is to convert framebuffer values to linear space at input to the fragment shader.

[2017-05-18 21:09] jamesdolan opened #59 "Missing glx.h"
api/GL/glx.h is missing but all other generated headers (including glxext.h) are in place.

[2017-05-19 02:17] #57 closed

[2017-05-19 02:20] oddhack commented on #59
There is an experimental target for glx.h in genheaders.py, but we've never fully tested or deployed it, expecting people would use the version supplied with the OS or Mesa implementation. New GLX extensions go in glxext.h so glx.h itself has not needed change in many years. You are welcome to generate the file yourself and suggest fixes for anything that seems wrong with it.

[2017-05-19 02:20] #59 closed

[2017-05-31 18:41] shannonwoods opened #63 "NV_pixel_buffer_object missing from gl.xml, header files"
It looks like the symbols for NV_pixel_buffer_object never made it into the XML file, and by extension are missing from gl2ext.h.

[2017-06-03 10:21] oddhack commented on #63
I am encouraging a self-service model now that we're on github. If someone from NV (or really, anyone else) wants to make the gl.xml changes and regenerate the headers, I'll verify it and merge to master, otherwise this may take a while.

[2017-06-08 23:31] #6 closed

[2017-06-14 10:29] TobiasHector commented on #52
@Khronoswebmaster is this something you can take a look at adding a redirect for?

[2017-06-14 11:50] Khronoswebmaster commented on #52
I believe this is an old bug as it works fine now. Please verify and close if okay.

[2017-06-14 11:58] TobiasHector commented on #52
Ah yes it looks like there was simply a missing "0" in the link in the WebGL spec, so presumably this link has always been incorrect (thus is just a bug in the WebGL spec). Closing - @gregtatum if you believe this to still be an issue elsewhere, please reopen with comment.

[2017-06-14 11:58] #52 closed

[2017-06-14 17:20] gregtatum commented on #52
The link works now, thank you!

[2017-06-15 09:04] gnl21 opened #71 "Some extensions missing gles1 support in gl.xml"
The extensions GL_EXT_debug_marker, GL_KHR_debug, GL_OES_surfaceless_context, and GL_OES_texture_npot are supportable in gles1 but are not marked as such in gl.xml.

Merge request to follow.

[2017-07-05 20:31] scott-d-phillips opened #77 "GLES/gl.h: some typedefs missing"
4 types listed in **Table 2.2 - GL data types** are missing from GLES/gl.h (but have been provided by 1.0 gl.h in the past): `byte`, `clampf`, `short`, and `ushort`.

[2017-07-19 20:30] Frassle opened #78 "glGetShaderPrecisionFormat precision parameter has wrong len attribute"
In xml/gl.xml the parameter data for "precision" does not match what the OpenGL spec says. The xml has len=2:
`<param len="2"><ptype>GLint</ptype> *<name>precision</name></param>`
While the spec for precision reads "Specifies the address of an integer into which the numeric precision of the implementation is written.".
Thus I'd expect len to be 1.

[2017-07-21 16:40] jamieTaylorIMG opened #79 "OES_viewport_array: Missing INVALID_RANGE error from ScissorArrayvOES()"
The function ScissorArrayvOES() added by OES_viewport_array is missing this entry in its error section/listing:

"An INVALID_VALUE error is generated if <count> is negative."

This should probably be added to make it consistent with ViewportArrayvOES() and DepthRangeArrayfvOES(). Also, this error message as used to describe ViewportArrayvOES() has an unnecessary '>' character at the end.

[2017-07-25 19:02] imirkin opened #81 "GL_OES_draw_elements_base_vertex: Confusion between OES and EXT suffix for glMultiDrawElementsBaseVertex"
The [spec](https://github.com/KhronosGroup/OpenGL-Registry/blob/master/extensions/OES/OES_draw_elements_base_vertex.txt) has it as glMultiDrawElementsBaseVertexEXT (since it's attached to EXT_multi_draw_arrays which has no OES equivalent). However the gl.xml file has

    <command name="glMultiDrawElementsBaseVertexOES" comment="Supported only if GL_EXT_multi_draw_arrays is supported"/>

and

[2017-07-26 15:17] dgkoch commented on #81
Yes it should be EXT, would you like to file a PR to fix it?

[2017-07-26 16:16] imirkin commented on #81
@dgkoch Sure, I can try to do it tonight. Should I try to regenerate the headers too, or do you guys want to take care of that? To be clear, I'm doing s/OES/EXT/ on those two places and that's it?

[2017-07-27 05:43] #81 closed

[2017-07-28 13:12] dgkoch commented on #63
Done in PR #84 (which will of course conflict with PR #83)

[2017-07-28 15:38] pdaniell-nv commented on #78
@Frassle Your fix sounds good. Would you mind making a PR?

[2017-07-28 15:40] pdaniell-nv commented on #37
@xDRL64 Your suggested fix looks good. Would you mind making a PR?

[2017-07-28 15:41] pdaniell-nv commented on #28
Sounds good. Assigned to @oddhack.

[2017-07-28 21:34] #78 closed

[2017-07-28 21:35] #63 closed

[2017-07-31 08:01] xDRL64 commented on #37
hello, what is a PR?

________________________________
De : Piers Daniell <notifications@github.com>
Envoyé : vendredi 28 juillet 2017 17:40
À : KhronosGroup/OpenGL-Registry
Cc : xDRL64; Mention
Objet : Re: [KhronosGroup/OpenGL-Registry] Error in doc about cross product (#37)

@xDRL64<https://github.com/xdrl64> Your suggested fix looks good. Would you mind making a PR?

—
You are receiving this be

[2017-07-31 12:47] pdaniell-nv commented on #37
By PR I meant a Pull Request with the fix. If you're unfamiliar with github we can do it.

[2017-07-31 17:41] pdaniell-nv commented on #37
It was just pointed out to me that someone already did it:
https://github.com/KhronosGroup/OpenGL-Refpages/pull/24

[2017-08-04 21:34] ocqt opened #89 "Bad sentence on FramebufferObject page"
The text "When an FBO is bound to a target, the available buffer names." makes no sense.

It is on this page: [https://www.khronos.org/opengl/wiki/Framebuffer_Object](https://www.khronos.org/opengl/wiki/Framebuffer_Object)

What does it mean???

[2017-08-06 15:01] NicolBolas opened #90 "ARB_gl_spirv mentions variables that don't exist in GLSL"
Specifically, it talks about `gl_Vertex/InstanceIndex`, rather than `gl_Vertex/InstanceID`. However much I might *wish* that we had the former instead of the latter, GLSL sadly does not. Well, except for the KHR_vulkan_glsl variation, but that's a different matter. Indeed, the ARB_gl_spirv extension specifically calls out how GLSL doesn't have these variables in its "Corresponding features not add

[2017-08-09 17:13] Dav1dde opened #94 "GLX_MESA_swap_control missing in glx.xml"
`GLX_EXT_swap_control` and `GLX_SGI_swap_control` are included in the specification, but [`GLX_MESA_swap_control`](https://github.com/mesa3d/mesa/blob/master/docs/specs/MESA_swap_control.spec) seems to be missing.

[2017-08-10 17:25] pdaniell-nv commented on #11
This is being tracked internally in opengl/API/issues/40.

[2017-08-11 00:32] xDRL64 commented on #37
yep I really unfamiliar with github. I prefer you do it. please thank you

________________________________
De : Piers Daniell <notifications@github.com>
Envoyé : lundi 31 juillet 2017 14:47
À : KhronosGroup/OpenGL-Registry
Cc : xDRL64; Mention
Objet : Re: [KhronosGroup/OpenGL-Registry] Error in doc about cross product (#37)

By PR I meant a Pull Request with the fix. If you're unfamiliar with git

[2017-08-11 00:36] xDRL64 commented on #37
alright cool. now just still make this modification on this page :

https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/cross.xhtml
where I discovered the wrong equation

________________________________
De : Piers Daniell <notifications@github.com>
Envoyé : lundi 31 juillet 2017 19:41
À : KhronosGroup/OpenGL-Registry
Cc : xDRL64; Mention
Objet : Re: [KhronosGroup/OpenGL-Registry] Error in d

[2017-08-11 22:13] pdaniell-nv commented on #90
Thanks for the fix. Merged and closing issue.

[2017-08-11 22:13] #90 closed

[2017-08-18 10:38] oddhack commented on #94
There is no registered specification for GLX_MESA_swap_control. If the Mesa folks want to provide one we can register it and add to the XML/headers, but without that we're out of luck. There are a number of other extant extensions that have no registered specs as well - I couldn't tell you the exact number because we only find out about them by accident.

I suggest you file this with the Mesa proj

[2017-08-18 10:43] oddhack commented on #37
Generated HTML updated.

[2017-08-18 10:43] #37 closed

[2017-08-18 10:44] #77 closed

[2017-08-18 10:52] oddhack commented on #28
TBH I'm not sure at this point which files were being referred to. The .php files suck in a framework that may already do this but is in any event outside our control. There's some very old static HTML that maybe could use it - when I tried viewing in Chrome on my smartphone it popped up a "Make Mobile Friendly?" dialog that did... something, when pressed, that affected how the page looked. But I

[2017-08-18 14:10] Khronoswebmaster commented on #28
I believe this was meant for SPIR mobile pages fed from SVN:
https://cvs.khronos.org/svn/repos/SPIRV/trunk/Version1.0Rev2/SPIRV.mobile.html

The issue still exists on those pages and perhaps other specs.

[2017-08-18 21:53] oddhack commented on #28
@Khronoswebmaster OK. The SPIR-V registry is managed entirely by that WG now, so maybe ping their repository with an issue instead. Closing this.

[2017-08-18 21:53] #28 closed

[2017-08-22 19:59] pdaniell-nv commented on #89
Wiki has been updated.

[2017-08-22 19:59] #89 closed

[2017-09-24 12:35] ferreiradaselva opened #103 "Macro GL_BLEND_COLOR not "required""
This is related with the issue https://github.com/Dav1dde/glad/issues/115.

I'm using [glad](https://github.com/Dav1dde/glad) loader, with OpenGL core 3.3, and it seems that the loader doesn't define `GL_BLEND_COLOR` because in the `gl.xml`, `GL_BLEND_COLOR` is not `<require>`'d by GL 2.0.

However, the functions `glBlendColor`, `glBlendFunc`, `glBlendEquation` are available for OpenGL 2.0-4.5, an

[2017-09-24 18:15] oddhack commented on #103
I think that's a good catch, though I'm not actually going to go all the way back to 15 year old emails to verify what our reasoning was at the time, which I TBH don't remember :-) Added BLEND_EQUATION and BLEND_COLOR to GL 1.4 core feature interfaces in gl.xml, in #104 - let me know if that helps.

[2017-09-26 22:26] #94 closed

[2017-09-26 22:27] oddhack commented on #103
Closed by #104.

[2017-09-26 22:27] #103 closed

[2017-09-26 22:27] oddhack commented on #94
The spec author pointed me to the master copy in the Mesa tree, so registered & closed now.

[2017-09-29 23:04] pdid17 opened #107 "Deprecation"
The deprecation tag for gl.xml is not yet supported, and that makes defining enums and commands for a version with the forward compatibility bit set to true is tough.

[2017-10-03 14:38] 3b opened #109 "missing enum groups"
following are used in in function parameter definitions but don't have a `group` definition:

[code]

(updated 2019-06-21 in response to recent PRs - @oddhack)

[2017-10-03 14:50] 3b opened #110 "add indicator in gl.xml that particular pointers also (or only) accept offsets"
Various functions (`glVertexAttribPointer`, etc) have arguments that accept `void *` or similar but also accept (or in core, only accept) an offset into a bound buffer. It would be nice to indicate that in the XML.

(I have a partial list, so could submit a PR for those, just need to know how to mark it in the XML. `group="OffsetOrPointer"` maybe, or new attribute?)

[2017-10-04 06:02] oddhack commented on #109
Please propose a PR (or maybe several PRs for different vendor's groups - this looks like a ton of work and it's more difficult to evaluate giant scattershot PRs).

[2017-10-04 06:05] oddhack commented on #110
I think group= would be OK. There's already a group="String" used in a few places and that's not a scalar type (nor is there any attempt to define it in the XML).

[2017-10-04 06:16] oddhack commented on #107
If you would like to propose schema and schema documentation updates to allow \<deprecate> blocks similar to \<remove> blocks, that would be fine. I don't think we would have that affect the headers we generate, since they aim for maximum backward-compatibility, but I could see it being useful to other consumers of the XML.

[2017-10-04 09:14] 3b commented on #110
hmm, looks like a few already have a group, like `"CompressedTextureARB"` in

[code]

not sure how to handle that.

[2017-10-04 09:17] 3b commented on #109
Yeah, will probably be at most a few at a time if at all, not even a whole vendor.  Not sure how many would still be useful for new code, and old ones are fairly low priority.

[2017-10-20 14:55] null77 opened #117 "gl.xml: GL_NV_path_rendering needs functionality from EXT_direct_state_access, not available in GLES"
The extension for GL_NV_path_rendering states:

When NV_path_rendering is advertised, the following functionality must be supported...
The following entry points (specified by the EXT_direct_state_access extension) MUST be supported:

   void MatrixLoadfEXT(enum matrixMode, const float *m);
   void MatrixLoaddEXT(enum matrixMode, const double *m);
(snip)

However these entry points are never menti

[2017-10-20 14:59] null77 opened #118 "gl.xml: glBlendColor/glBlendEquation introduced in GL 1.2.1 spec, but only in 1.4 spec in the xml"
Looking at the GL 1.2.1 spec:

https://www.khronos.org/registry/OpenGL/specs/gl/glspec121.pdf

It seems these two functions are present (and associated enums). But in latest gl.xml it seems they're recorded as being introduced in GL 1.4.  Although it's highly unlikely to matter in practice, this difference seems like a technical error likely in the xml.

@oddhack any thoughts?

[2017-10-20 20:37] oddhack commented on #118
They were part of the optional ARB_imaging extension until GL 1.4, then made part of the mandatory core features, which is why it's expressed that way.

[2017-10-20 20:37] #118 closed

[2017-10-20 23:42] oddhack commented on #117
Those were definitely left out, but I need to get clarification from NVIDIA on #119 and the double-precision entry points before moving forward. It wouldn't be appropriate to move them from EXT_dsa to NV_path_rendering since they are part of both extensions, but they can certainly be added to NV_path_rendering.

[2017-10-21 20:20] null77 commented on #117
Thanks Jon for following up.

[2017-10-21 20:26] null77 opened #120 "gl.xml: TextureStorage extension 1D/3D entry points conditional, and EXT missing from desktop"
There's two slight issues that may be present with gl.xml's information on GL_EXT_texture_storage (and also potentially some overlap with GL_ARB_texture_storage).

1) The EXT extension specifies:

The ARB spec is specified against OpenGL ES 1.0 and OpenGL ES 2.0, which do not have 1D/3D textures but I didn't see any mention of the conditional exposure. Seems like an oversight - in any case this in

[2017-10-25 13:10] TobiasHector commented on #79
It's been noted that in section 2.3 - Command Execution (OpenGL ES 3.2 Specification), there is a general error called out for *all* negative values provided to `sizei` parameters:

sizeiptr is specified, an INVALID_VALUE error is generated.

So technically the error is there, it's just not called out. We're raising a bug internally to try to resolve this inconsistency.

[2017-10-31 19:07] pdaniell-nv commented on #79
The internal issue is https://gitlab.khronos.org/opengl/API/issues/52

[2017-11-02 00:25] #117 closed

[2017-11-10 09:21] keriharris opened #125 "undefined GL_NUM_DEVICE_UUIDS enum appearing in pname group"
In gl.xml the "pname" group references GL_NUM_DEVICE_UUIDS:

        <group name="GetPName">
            ...
            <enum name="GL_NUM_DEVICE_UUIDS"/>

GL_NUM_DEVICE_UUIDS is not mentioned anywhere else in the document.
GL_NUM_DEVICE_UUIDS_EXT on the other hand is defined:

         <enum value="0x9596" name="GL_NUM_DEVICE_UUIDS_EXT"/>

[2017-11-10 09:29] keriharris opened #126 "BlendingFactor group contains duplicate entries"
The BlendingFactor group contains two duplicate enums:

`        <group name="BlendingFactor">
            <enum name="GL_ZERO"/>
            <enum name="GL_ONE"/>
            <enum name="GL_SRC_COLOR"/>
**1         <enum name="GL_ONE_MINUS_SRC_COLOR"/>
            <enum name="GL_DST_COLOR"/>
            <enum name="GL_ONE_MINUS_DST_COLOR"/>
            <enum name="GL_SRC_ALPHA"/>
**2         <enu

[2017-11-14 19:07] pdaniell-nv commented on #126
@keriharris can you propose a pull request to fix this? Thanks.

[2017-11-15 21:41] dgkoch commented on #125
It should be GL_NUM_DEVICE_UUIDS_EXT.

@keriharris Would you like to make a pull request?

[2017-11-15 22:51] #71 closed

[2018-01-14 11:11] Dav1dde opened #148 "GL_EXT_texture_filter_minmax contains definitions for GL_EXT_raster_multisample"
Hey,

@mcclure found a bug where `GL_EXT_texture_filter_minmax` contains the definitions for `GL_EXT_raster_multisample`, but `GL_ARB_texture_filter_minmax` contains the correct ones.

Definition for `TEXTURE_FILTER_MINIMAX`:
[code]

And the one for `RASTER_MULTISAMPLE`:
[code]

Looking at `GL_ARB_texture_filter_minmax`, these definitions appear to be correct:
[code]

Original Bug Report: https://

[2018-01-14 12:10] #148 closed

[2018-01-14 12:11] oddhack commented on #148
Thanks. Probably an ancient cut & paste error - should be fixed now.

[2018-01-22 09:15] #125 closed

[2018-01-22 09:18] #126 closed

[2018-01-22 09:54] oddhack commented on #120
I don't believe there's any way to express that an extension only supports some interfaces in specific API versions. We can do \<require api="apiname"\> but that only applies at the level of apinames that are used in the XML, which is just GL, GL core profile, ES 2.* and above, and ES 1.*. Short of extending the schema and the scripts that process it, the best we could do is move these commands in

[2018-02-06 18:21] c0d1f1ed opened #151 "Multiple headers share the same include guard"
Both GL/glext.h and GLES/glext.h use the same "__glext_h_" include guards. This makes it hard to include both headers.

This is of interest to implementations that support both APIs.

Fixed by PR #149

[2018-02-27 03:30] nicebyte opened #160 "Need better type dependency mechanism in XML specs"
The "type" element may have a "requires" attribute, which allows one to specify a type that a given type is dependent on. This allows type elements to be processed in arbitrary order while still guaranteeing correctness of generated code.

However, this mechanism does not work when more than a single type is required.

Case in point: GLDEBUGPROC.

GLDEBUGPROC is defined as:
`
typedef void ( * GLDE

[2018-03-02 17:02] 1ace opened #162 "Conflicting type declarations in GL & GLES3"
We just had a [bug report in Mesa](https://bugs.freedesktop.org/show_bug.cgi?id=105328) about conflicting type declarations in GL & GLES3 headers.

The gist of it is:
[code]

A quick glance at the two headers reveals many more conflicts.

My first thought is that the generation script should detect these duplicates and move them to a common header, which would be included by all the headers; this

[2018-03-02 17:20] brianpaul commented on #162
It might also work to simply include khrplatform.h in glext.h and change the typedefs in the GL_VERSION_1_5 section to read:
typedef khronos_ssize_t GLsizeiptr;
typedef khronos_intptr_t GLintptr;

It appears to be legal C/C++ to have duplicated typedefs.

[2018-03-02 20:03] oddhack commented on #162
Including khrplatform.h and using that would be the way to do this, but it does introduce a new dependency for people using our GL headers which has never existed previously, and will probably break things for users who just download glext.h, say.

This sort of thing was why I was not eager to support including both headers in the same compilation unit to begin with, since they were never intended

[2018-03-02 21:52] nwnk commented on #162
This has always struck me as a curious model to support. Do people actually do this, and what problem does it solve?

[2018-03-05 10:00] B1m0 opened #164 "gl.xml Missing "len" values in disjoint-timer-query and robustness extension functions"
I am using the gl.xml for CodeGeneration with glad and i noticed that the len value on some parameters are missing. For example the glGetnUniformfv is missing the len value on "params" while glGetnUniformfvARB and glGetnUniformfvEXT got them.

Following a list of functions where the value is missing
- glReadnPixels - `<param>void *<name>data</name></param>`
- glGetnUniformfv - `<param><ptype>GLflo

[2018-03-06 21:36] pdaniell-nv commented on #164
Looks like you're right. Are you planning to create a PR for this? It would be appreciated.

[2018-03-16 08:58] #164 closed

[2018-03-16 12:24] oddhack commented on #162
@nwnk the whole point of glext.h in the first place was that Microsoft was never going to update the gl.h they shipped on Windows to include support for vendor extensions. These days it mostly just gets packaged with vendor drivers and Mesa, AFAIK.

[2018-03-21 18:23] c0d1f1ed commented on #151
Fixed by https://github.com/KhronosGroup/OpenGL-Registry/pull/149/commits/291e684f742680cfb0acd6dd078f04974f6163df

[2018-03-21 18:23] #151 closed

[2018-03-27 12:38] c0d1f1ed commented on #162
I don't think breaking the build for people who only downloaded glext.h would be an actual issue. You simply download khrplatform.h and it's fixed. People developing OpenGL ES apps for the first time also quickly discover that they do need that header as well. It's a non-issue and an implementation detail. Who cares which files <vector> includes itself? Just provide the entire implementation and p

[2018-03-27 20:19] pdaniell-nv commented on #162
It would be ideal if we can fix these inconsistencies. Is there a PR someone can suggest?

[2018-03-28 09:39] oddhack commented on #160
At some point in the not too distant future, I hope to migrate gl.xml and scripts over to the slightly different and more up-to-date schema and scripts used by Vulkan, which does support these additional type dependencies. Until and unless it turns into a severe problem, though, I'm unlikely to put any effort in to backport portions of those changes to the current GL schema.

Realistically speakin

[2018-03-28 09:39] #160 closed

[2018-03-28 09:53] oddhack commented on #162
If you can propose an approach that is demonstrated not to cause a problem with people #including both Microsoft's gl.h and our glext.h / glcorearb.h, I'll look at it.

But it just wasn't in the goals to support the usages you guys are getting up to. For example, how would you deal with GL_EXT_separate_shader_objects - which due to what was admittedly an error, has incompatible specs and APIs in G

[2018-03-28 16:10] c0d1f1ed commented on #162
Preliminary proof here: https://swiftshader-review.googlesource.com/18108
It has all sorts of combinations of gl.h + glext.h, gl.h + glcorearb.h, glcorearb.h + gl2.h, gl.h + gl31.h, etc. Has both the driver implementation and sample applications. All compile in 32- or 64-bit, on Windows.

The GL_EXT_separate_shader_objects inconsistency isn't a big problem. The entry functions have different names

[2018-04-13 18:13] c0d1f1ed commented on #162
Friendly ping. 97a022c and 340d008 work for me. @1ace can you confirm it fixes your specific case too? @brianpaul is this in line with what you had in mind? @oddhack please have a look.

[2018-04-17 20:03] pdaniell-nv commented on #162
Assigned to @oddhack to help move this forward.

[2018-04-27 03:53] oddhack commented on #11
This has been fixed in the next ES / GL spec drafts, which will be coming out shortly.

[2018-04-27 03:53] #11 closed

[2018-04-27 03:53] oddhack commented on #15
This has been fixed for both ES and GL in the next spec updates, coming shortly.

[2018-04-27 03:53] #15 closed

[2018-05-22 16:01] c0d1f1ed commented on #162
@oddhack can you have a look at my pull request? Thanks.

[2018-05-23 18:48] nanley opened #182 "Extra or omitted text in Program Objects section of GL 4.6 Spec"
On page 97 of the spec, you can find the words "The command" floating between two sentences:

The command
The executable code for an individual shader stage is taken from the current program for that stage.

[2018-05-24 01:10] oddhack commented on #182
Thanks. I've fixed this internally and it will show up the next time we do a public spec update (which may be a while).

[2018-05-24 01:10] #182 closed

[2018-05-24 12:54] oddhack commented on #162
@c0d1f1ed what is the PR? I see the individual commits, but not what branch / PR they're part of.

[2018-05-25 21:02] #162 closed

[2018-05-26 15:08] Dav1dde commented on #162
Just a heads up this change may break a lot of 3rd party applications that use the XML. This also means khrplatform is a required dependency for any gl header now. Was this intentional?

I think it would have been better to swap the type based on api, mark the element with an `api=` tag. Or go the macro route similar to `GLhandleARB`.

[2018-05-27 09:14] oddhack commented on #162
@Dav1dde could you explain the nature of the problem you ran into in enough detail that I can try to reproduce it, and figure out what can be done in the XML? Preferably in a new issue, if you don't mind.

[2018-05-27 13:16] Dav1dde opened #184 "GLsizeiptr/GLintptr type change, depending on khrplatform"
Followup for: https://github.com/KhronosGroup/OpenGL-Registry/issues/162

1) Due to the change the GL API depends on `khrplatform.h` now which was previously not the case, this seems like a breaking change that may affect multiple users of the specification. This may also affect users that are using `glcorearb.h` directly (including OS package maintainers?).

2) The typedefinitions have a lot of d

[2018-05-27 18:21] oddhack commented on #184
Thanks for the field experience. I was afraid we'd run into problems from this change and that's being borne out :-(

1. The dependency on khrplatform.h is a new requirement. I was worried about this, but people in the OpenGL working group felt it was more important to have consistency between the two headers and decided to accept the change. I did add some text to the GL index page pointing to th

[2018-05-29 16:33] c0d1f1ed commented on #184
@Dav1dde thanks for reporting this and sorry about the trouble. It sounds like my change merely exposed a prior bug? Glad you were able to easily fix it.

The dependency on khrplatform.h is intentional as it fixes and ensures consistency between OpenGL ES and desktop OpenGL.

As far as I know the XML files are a Khronos implementation detail for generating the headers. Previously .spec files were

[2018-05-29 16:43] Dav1dde commented on #184
It was a somewhat unfortunate combination of a bug and the implicit assumption `khorons_*` types are not used for an OpenGL context.

The change definitely makes sense, I am just debating now if I took the right approach of always using the latest upstream specification, I thought it's a good idea simply because the latest changes are always immediately available, now this affects a lot of people.

[2018-06-02 12:34] oddhack commented on #184
@c0d1f1ed gl.xml is the normative source of the headers and used for a variety of purposes by outside projects, so it's not just a detail. But it's impossible to know how all those projects are using it, and if they do their own processing of the XML rather than derive from the scripts we supply, or if they run into underdocumented portions of the schema or similar, they can expose problems.

@Dav

[2018-06-03 02:10] oddhack commented on #184
@c0d1f1ed @Dav1dde please evaluate #186.

[2018-06-04 14:07] Mathias-Fuchs commented on #162
I'm a layman and I'm having the issue. What's the easiest way to fix it? Help appreciated.

[2018-06-04 14:35] oddhack commented on #162
@Mathias-Fuchs what is the issue, exactly?

[2018-06-04 14:53] Mathias-Fuchs commented on #162
Hi Jon!
Alright, the following is my problem: I try to write code against GLES3,
but the automatically included GLES3/gl3.h is not sufficient, for instance
glVertexPointer is not defined in it.
But when I include GL/gl.h as well, I get the conflict between gl3.h and
glext.h, for instance both try to define GLsizeiptr.
I'm currently trying to #define GL_GLEXT_LEGACY so that gl.h doesn't
include gle

[2018-06-04 19:37] c0d1f1ed commented on #162
Hi Mathias, welcome to OpenGL ES development! Note that glVertexPointer is not a GLES3 function. You probably want glVertexAttribPointer instead. glVertexPointer is part of GLES1 and legacy desktop OpenGL only. That said, this change does attempt to make it valid to include any of the headers. And FWIW I couldn't replicate any issue with including both GLES3/gl3.h and GL/gl.h, on Windows. Could yo

[2018-06-05 11:42] Mathias-Fuchs commented on #162
Hi Jon,
Thanks a lot for the help!
Ok, I'll try to use glVertexAttribPointer instead.
I'm on a debian netbook, using the package libgles2-mesa-dev if that gives
a hint to what might have happened?
Best, Mathias

On Mon, Jun 4, 2018, 9:37 PM Nicolas Capens <notifications@github.com>
wrote:

[2018-06-23 11:17] Rijenkii opened #189 "gl.xml: GL_TEXTURE_LUMINANCE_TYPE and GL_TEXTURE_INTENSITY_TYPE required in `compatibility` profile, later removed from `core`"
In gl.xml, enums `GL_TEXTURE_LUMINANCE_TYPE` and `GL_TEXTURE_INTENSITY_TYPE` are required in 3.0 for `profile="compatibility"` (line 33935), and later removed in the version 3.2 BUT for `profile="core"` (line 34980).
Is it intended?

[2018-06-23 12:39] oddhack commented on #189
Yes, that's intended. The core profile introduced in OpenGL 3.2 does not support luminance and intensity formats.

[2018-06-23 12:39] #189 closed

[2018-06-23 12:58] Rijenkii commented on #189
Wait, but why then in 3.0 these enums are added for `profile="compatibility"`, but, according to a comment in gl.xml, core and compatibility profiles were first introduced in 3.2?

[2018-06-23 13:16] oddhack commented on #189
TBH, I don't recall this many years later. There was probably some reason motivated by a combination of the generator scripts and the schema limitations. If you're concerned about this you could propose an XML change, but it would have to have no semantic impact on the current header files to be accepted.

[2018-06-23 13:28] Rijenkii commented on #189
Also, was `GL_INDEX` also removed from core? Because it is added in the same require block as already mentioned enums, but not removed from core. (Last question, promise (probably))

[2018-06-23 15:08] Rijenkii commented on #189
Yep, found it

[2018-07-04 20:47] SilverPhoenix99 opened #192 "Missing extensions WGL_AMDX_gpu_association and WGL_ATI_render_texture_rectangle"
When I grab the extensions string on my PC I get back these 2 extensions, but I can't find them in the `wgl.xml` spec.

Both the `WGL_AMDX_gpu_association` and the `WGL_NV_render_texture_rectangle` extensions exist in the same spec.

Are they missing, or were they not added for some particular reason I'm not aware?

Thanks in advance.

[2018-07-04 22:07] oddhack commented on #192
We do have a spec for the NV extension so I'll add that to the registry / headers soon - was overlooked for some reason. The spec is 15 years old and this is the first time I recall someone mentioning it. The AMDX extension is unknown to us, but is probably an early version of the WGL_AMD_gpu_association, which is in the registry.

[2018-07-05 09:05] oddhack commented on #192
Actually, WGL_NV_render_texture_rectangle is already in the registry (and generated wglext.h):

https://github.com/KhronosGroup/OpenGL-Registry/blob/master/xml/wgl.xml#L1915-L1921

So, I don't think there's anything left to do here. If the AMDX extension specification gets posted by AMD, I will add it to the registry - maybe you could ask their developer support people about it.

[2018-07-05 10:14] SilverPhoenix99 commented on #192
Hi @oddhack

I also found the NV one in the registry, but the extension WGL_ATI_render_texture_rectangle is ATI not NV. I would assume they serve the same function, but they seem have different enumerations (no functions). It looks like the Glew project has it defined, which makes me wonder where they got it from. If you could have a second look at this, I'd appreciate it.

WGL_AMD_gpu_association

[2018-07-05 10:35] oddhack commented on #192
I was looking at the issue body and not the title. Sorry about that. Unfortunately, the answer is the same for both of them - if I don't have an extension specification, I have no basis to include it in the XML/header. I will pass on a request to someone from AMD in Khronos to look for specs, but judging by Google search results, they've never published them. GLEW apparently added them at one poin

[2018-07-05 19:59] NeilMonday commented on #192
Is there any problem with an implementation reporting an extension that does not exist in wgl.xml?

If the list of reported extensions must match what exists in wgl.xml, then I can do the following:
1. WGL_AMDX_gpu_association is exactly the same as WGL_AMD_gpu_association. I think I will go ahead and remove the AMDX version from our driver.
2. I found the old WGL_ATI_render_texture_rectangle exte

[2018-07-05 20:04] oddhack commented on #192
@NeilMonday thanks for following up so fast. There's no requirement that you register extensions, but it's helpful for developers for the registry to be complete, since that's where they look for documentation (as seen in this issue). I'd appreciate it if you're able to submit the ATI extension spec to the registry - you could just attach it to this issue.

[2018-07-26 15:02] joonazan opened #198 "Wrong enum group for glGetIntegeri_v and glGetInteger64i_v argument"
Here the enum group is TypeEnum.
[code]
TypeEnum only contains values that are not valid arguments to `glGetInteger64i_v`.
[code]
I may be somehow misinterpreting the meaning of TypeEnum, as it is in some glGetFloat calls as well. I assumed that if group is an enum, it is one that describes the arguments.

[2018-07-31 18:04] nwnk opened #199 "ARB_framebuffer_sRGB doesn't specify fbconfig sorting"
It's worse than that, actually, it doesn't specify the interaction with fbconfigs _at all_. Presumably `GLX_FRAMEBUFFER_SRGB_CAPABLE_ARB` is a property of both fbconfigs and visuals, but the implementation is given no guidance about how to handle, say, `glXChooseFBConfig`.

[2018-08-01 14:34] oddhack commented on #199
I believe NVIDIA and Mesa are the only vendors who care about this (e.g. maintain their own GLX implementations). Hopefully they can identify common behavior WRT FBconfigs and document that. @pdaniell-nv, could you look at this for NVIDIA? @nwnk you may be as well posed as anyone to answer the question for Mesa?

[2018-08-01 15:29] boumaour opened #200 "glGetInternalformat - Incorrect documentation for parameter bufSize in the manpage"
Issue was already filed in the (defunct?) Khronos Bugzilla
https://www.khronos.org/bugzilla/show_bug.cgi?id=1454#c0
It looks like the manpage was fixed in the Parameters section, but not in the description.

Section 22.3 Internal Format Queries of the OpenGL 4.5 core spec says:

The man page for `glGetInternalFormat` has the following documentation for the parameter `bufSize`:

This has been fixed

[2018-08-02 16:14] nwnk commented on #199
Mesa [now](https://gitlab.freedesktop.org/mesa/mesa/commit/faa29c0e2449e3d7521bc273d723012b537593df) treats `GLX_FRAMEBUFFER_SRGB_CAPABLE_ARB` as exact match when specified, `GLX_DONT_CARE` otherwise. Prior to 2017 we didn't really have sRGB support, and the behavior in the interim hasn't been well defined.

[2018-08-06 15:46] Khronoswebmaster opened #201 "Missing link pointing to Github for issues in OpenGL ES"
Around line 166 in opengl_es.php:

1 - There should be a link to the [Issue tracker](https://github.com/KhronosGroup/OpenGL-Registry/issues/) to make it somewhat easier for folks to post issues.
2 - Please change `github` to `GitHub`

    Please report problems as
        Issues in the <a href="index.php#repository">OpenGL-Registry</a> github
        repository.

[2018-08-08 14:57] pdaniell-nv commented on #201
Sounds like a good idea to me. Assigned @oddhack.

[2018-08-09 06:06] davidmaoamd commented on #199
AMD do have its own GLX implementation. It accept GLX_FRAMEBUFFER_SRGB_CAPABLE_ARB/EXT as valid attribute but the attribute is irrelevant when sorting orders.

[2018-08-15 21:12] nwnk opened #202 "Is a GLXFBConfig's type really XID?"
(Incredibly low priority, spec-lawyer-y kind of issue, just writing it down for posterity.)

The GLX spec calls them XIDs, or at least, implies that the storage for a number describing an fbconfig is as big as an XID. But they don't really correspond to an XID inside the server, they're not in the resource database and they don't name an object. I think this is an artifact of the (X server) sample

[2018-08-18 06:20] diaphore opened #203 "<wgl.h> not up to date"
A diff between `wglext.h` and `wgl.h` shows `WGL_ARB_create_context_no_error` missing from the later.

[code]
The copyright date at the beginning indicates `wgl.h` was not regenerated properly.

[2018-08-21 20:10] pdaniell-nv commented on #199
@nwnk What's next for this issue?

[2018-08-21 20:11] pdaniell-nv commented on #198
@oddhack is the XML expert and can probably explain this.

[2018-08-21 20:13] pdaniell-nv commented on #192
@NeilMonday are you planning to register these extensions? Just wondering if we can resolve this issue. Thanks.

[2018-08-21 20:33] cubanismo commented on #202
In our implementation we allocate them using FakeClientID(0) but never call AddResource() on them.  Our visual IDs and FBConfigs are not currently numerically equal for equivalent visuals.  I also don't know what application-visible qualities this imbues in them though.  I think we require at least that:

* FBConfig IDs are unique and persistent across a given X server instance, so logical program

[2018-08-21 20:35] cubanismo commented on #202
Note we should be careful to disambiguate GLXFBConfig, the GL client API header type which is a pointer, and the GLXFBConfig protocol type, which is XID.  I'm assuming we're talking about the protocol-level object here.

[2018-08-21 20:53] StailGot opened #208 "Missing enums from GetPName group"
According to spec ( https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glGet.xhtml ) it seems that some enums are missed in gl.xml ( group "GetPName" )

[2018-08-22 19:52] NeilMonday commented on #192
Thanks for the reminder, and sorry for the delay. Here is what we have for WGL_ATI_render_texture_rectangle.

[WGL_ATI_render_texture_rectangle.txt](https://github.com/KhronosGroup/OpenGL-Registry/files/2311785/WGL_ATI_render_texture_rectangle.txt)

[2018-08-27 10:19] DJRBuckingham opened #211 "glBlendFuncSeparate parameter table SRC1 typos"
Apologies if I've just misunderstood, but I believe the parameter table for glBlendFuncSeparate has typos for the SRC1 variants at the end.

https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glBlendFuncSeparate.xhtml

Specifically, GL_ONE_MINUS_SRC_COLOR and GL_ONE_MINUS_SRC_ALPHA both appear twice in the table. I believe these should be GL_ONE_MINUS_SRC**1**_COLOR and GL_ONE_MINUS_SRC**1*

[2018-08-27 11:08] #203 closed

[2018-08-27 11:11] #208 closed

[2018-08-27 11:33] oddhack commented on #211
This is the right page for reference page issues - thanks! Fixed now.

[2018-08-27 11:33] #211 closed

[2018-08-27 11:38] oddhack commented on #192
I think the only remaining action here is to publish WGL_ATI_render_texture_rectangle in the registry, which I'll do soon.

[2018-08-27 11:42] oddhack commented on #200
Fixes in the OpenGL-Refpages repository.

[2018-08-27 11:42] #200 closed

[2018-08-27 11:46] #201 closed

[2018-09-04 19:47] pdaniell-nv commented on #202
@nwnk What's next for this issue?

[2018-09-26 21:13] nvpbrown opened #216 "Need to regenerate headers for Turing OpenGL extensions"
@oddhack,

When I submitted #214, I did not rebuild headers because my understanding is that the headers are rebuilt after various changes are merged to avoid possible conflicts in auto-generated files.  It appears that there was no rebuild done when the changes were merged to "master" and that the headers in the registry do not have the NVIDIA extensions.

Should I submit a pull request with rege

[2018-09-27 09:08] oddhack commented on #216
Sorry! I did them on my local and neglected to push to github. Should be there now.

[2018-09-27 09:08] #216 closed

[2018-09-27 11:57] pixeljetstream opened #217 "NV vertex/uniform buffer unified memory and glcorearb.h"
Both extensions require glEnable/DisableClientState
these being deprecated are however missing in glcorearb.h

[2018-09-27 12:00] pixeljetstream commented on #216
still don't see them

[2018-09-27 12:34] dgkoch commented on #216
@pixeljetstream I see them. you need to look at the raw glext.h - the github viewer cuts off before the end of the file.
https://raw.githubusercontent.com/KhronosGroup/OpenGL-Registry/master/api/GL/glext.h

[2018-09-27 13:03] oddhack commented on #217
I guess a vendor extension can unilaterally pull a deprecated command back into the core profile, technically speaking, but it seems a bit out of scope and maybe a call the WG ought to make, not me. @pdaniell-nv, can you put this on the agenda?

[2018-09-27 13:12] #192 closed

[2018-09-27 13:14] oddhack commented on #192
Done. Amusingly there is reuse of the WGL enum value for two unrelated AMD/ATI purposes. We'll likely never know why.

[2018-09-27 14:55] nvpbrown commented on #216
I just fetched the latest "master" and confirmed the fix.  Thanks for your help.

[2018-09-27 15:44] pdaniell-nv commented on #217
@pixeljetstream would it be reasonable that these extensions to only be defined for compatibility profile?

[2018-09-27 15:49] jeffbolznv commented on #217
IMO, no, these extensions have been shipping this way for nearly 10 years, it makes no sense to defeature them now.

[2018-09-27 16:09] pixeljetstream commented on #216
glcorearb.h is not updated

[2018-09-27 16:40] nvpbrown commented on #216
This is my fault -- I included:

`supported="gl"`

for these entries, but to get into glcorearb.h, it appears you need

`supported="gl|glcore"`

I can prepare an MR for this.

[2018-09-27 20:33] nvpbrown commented on #216
I created pull request #218 to address @pixeljetstream's glcorearb.h issue.  I generated headers locally but did not include them in the pull request.

[2018-10-04 04:42] pdaniell-nv commented on #217
It's unfortunate that not all functions are available in glcorearb.h to an extension that brings them back from the compatibility profile. However, we've decided not to put glEnableClientState/glDisableClientState back in glcorearb.h. Instead glext.h can be used to get access to these compatibility functions.

[2018-10-04 04:42] #217 closed

[2018-10-06 16:34] StailGot opened #220 "Missing enums"
https://github.com/KhronosGroup/OpenGL-Registry/pull/219

Some missing enums:

BufferTargetARB
+GL_PARAMETER_BUFFER ( gl 4.6 )

https://www.khronos.org/opengl/wiki/Pixel_Transfer#Pixel_format
PixelFormat
+_INTEGER types

StencilOp
+_WRAP

FramebufferAttachment
+GL_DEPTH_STENCIL_ATTACHMENT

New group
QueryCounterTarget: GL_TIMESTAMP

type for target in glQueryCounter
QueryTarget => QueryCounterTarg

[2018-10-10 07:54] #220 closed

[2018-11-08 03:56] #184 closed

[2018-11-21 19:47] tweenk opened #228 "gl2platform.h and gl3platform.h have different license than everything else"
The GLES header files gl2platform.h and gl3platform.h have the Apache license, while all other headers have the MIT license. Since these files are largely trivial, could they be relicensed to the same license as the rest of the official Khronos headers?

[2018-11-21 21:20] oddhack commented on #228
What's your use case? Is this a GPL2/LGPL2 issue?

[2018-12-07 21:31] tweenk opened #231 "EXT_sRGB: unclear function of GL_SRGB_ALPHA_EXT passed as "format" parameter"
The relevant extension:
https://www.khronos.org/registry/OpenGL/extensions/EXT/EXT_sRGB.txt

From the extension text, it is unclear whether this call:
[code]

has the same or different effect than this one:
[code]

It seems that the new allowed combinations of internalformat, format and type are not specified at all for this extension.

[2018-12-12 22:44] pdaniell-nv commented on #231
That extension was written against OpenGL ES 2.0. Since then there has been a lot of improvement in the specification around internalFormat/format/type parameters. The safest bet is to do what the OpenGL ES 3.2 spec says, which it to use a format of GL_RGBA for an internalFormat of GL_SRGB8_ALPHA8.

[2018-12-13 14:18] dgkoch commented on #231
However, back to the original question, ES 2.0 has a requirement that

(bottom of page 67 in the ES 2.0.25 spec), so it seems that the only correct way to specify an SRGB_ALPHA texture in ES2.0 would be the second call:

[code]
The first one should produce an INVALID_OPERATION error.

Now, as Piers indicated, ES 3.0 and later relaxed the `internalformat==format` requirement, and in fact deprecated

[2018-12-27 17:53] rewolff commented on #162
Not sure if this is completely the same problem, but I'm trying to compile openscad on a raspberry pi. I'm getting long lists of errors like this:
[code]

As a workaround I've disabled all the GL_APICALL  lines in gl31.h. The compilation at least gets further now.

This is a heads-up: Matthias-Fuchs mentions the definitions with   GLsizeiptr, which I've seen too, but in openscad I'm getting hundre

[2019-01-09 14:30] oddhack opened #235 "Document extension types and spec update policies in the registry index"
This is to track a request from @pdaniell-nv that we document the different types of extensions (vendor, EXT, KHR/ARB/OES, etc.) as well as the policies for updating non-current GL/ES extension specs (which, generally, we don't do unless there's a critical functionality issue affecting something like ANGLE, which is very widely used and based on an older ES API version). If there are particular as

[2019-01-22 16:55] tkaaad97 opened #238 "EnableCap's Group specification seems old"
https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glEnable.xhtml

From the glEnable documentation, some constants do not exist in the EnableCap's group.

Below constants are missing.

[code]

Should EnableCap's specification be modified based on gl4 documentation ?

[2019-01-22 23:56] oddhack commented on #238
Sounds reasonable. Can you submit a PR to do this?

[2019-01-23 11:12] tkaaad97 commented on #238
I made a PR #239.

[2019-02-05 11:36] tkaaad97 commented on #238
thanks for merging.

[2019-02-05 11:36] #238 closed

[2019-02-20 20:36] nwnk commented on #202
Agreed.

It does indeed require this.

That's fair.

I think the conclusion is, fbconfig IDs are not resources. Their size on the wire is the same as an XID, but they're allocated from the same namespace as visual IDs, which means they ought not alias a visual ID. The X server might have a convention about which allocator to use, and we may well want to stop using FakeClientID() for that purpose,

[2019-02-26 20:41] pdaniell-nv commented on #235
This issue is being tracked internally here: https://gitlab.khronos.org/opengl/API/issues/103

[2019-03-18 08:57] oddhack commented on #235
Proposed update here: https://github.com/KhronosGroup/OpenGL-Registry/pull/255 - needs signoff by @pdaniell-nv .

[2019-03-19 00:43] tommai78101 opened #256 "Link to <GL/wgl.h> is missing on the Index Page"
Link to page: https://www.khronos.org/registry/OpenGL/index_gl.php#headers

Currently, a hyperlink to <GL/wgl.h> header file is missing on the page. Or it may be missing information, explaining why <GL/wgl.h> header file is removed from the page.

Missing link to <GL/wgl.h>:

https://www.khronos.org/registry/OpenGL/api/GL/wgl.h

[2019-03-19 09:57] oddhack commented on #256
While we do have the capability to generate a wgl.h, AFAIK nobody has ever even verified that it works on Windows platforms. We expect people are using Microsoft's wgl.h. So, we haven't promoted its existence because we can't recommend its use.

[2019-03-19 10:17] oddhack commented on #228
Closing this for lack of feedback. If we do license changes, it would almost certainly be to place code-like files that aren't already under Apache 2, under it, since that's the evolving Khronos copyright standard.

[2019-03-19 10:17] #228 closed

[2019-03-19 13:11] tommai78101 commented on #256
Can this explanation be added to the API and Extensions Header section? I feel this is important to add, since you're still able to link and obtain the Khronos Group <wgl.h> implementation. And wouldn't that cause confusion if you're able to access the link, but you can't find it anywhere on the site?

Personally, I just feel confused why there are two <wgl.h> and why they are so different because

[2019-03-19 13:37] tommai78101 commented on #256
Now I'm thinking about it, Microsoft's <gl/GL.h> is weird. I do not even see anything mentioning where Microsoft's latest <wgl.h> header is at.

The licensing is different, because Microsoft's <gl/GL.h> is by Silicon Graphics, and the <wgl.h> is Khronos Groups. That's fine. The Khronos Group's <wgl.h> has more OpenGL extensions functions that does not exist on the <gl/GL.h> by Microsoft.

All in a

[2019-03-19 14:07] oddhack commented on #256
TBH it's been about 20 years since I've looked at Microsoft's headers. Probably their WGL interfaces come from somewhere in windows.h, so I misspoke about that.

The point of the separation between wgl.h and wglext.h was to reflect that Microsoft did not update the headers they ship to include new vendor WGL extensions. So we provided them in wglext.h to layer on top of the WGL interfaces in the M

[2019-03-19 14:48] tommai78101 commented on #256
You're in luck today, because I was actually testing out the <wgl.h> header from the OpenGL Registry since 2 weeks ago, and it worked fine. (And even if I don't have <Windows.h> included, it's still going to be part of the <wgl.h> since it's defined in there.)

But in order for <wgl.h> to work fine, you still need to include <gl/GL.h> from Microsoft, because the typedef `GLenum` is  defined in the

[2019-03-25 17:20] Deamon87 opened #257 "At least one function have inconsistent argument names"
Here https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glDrawElementsInstancedBaseVertexBaseInstance.xhtml
the argument after `GLvoid *indices` is named `GLsizei primcount` and referenced under this name in function description.

But in header file https://www.khronos.org/registry/OpenGL/api/GL/glcorearb.h same function has this definition:
`GLAPI void APIENTRY glDrawElementsInstancedBaseV

[2019-03-26 20:23] pdaniell-nv commented on #256
@tommai78101 Can we close this issue since you have a work-around?

[2019-03-27 13:02] tommai78101 commented on #256
Sure. I thought it's on the contributor's end to determine whether this issue should be closed or not.

[2019-03-27 13:02] #256 closed

[2019-03-27 15:28] pdaniell-nv commented on #257
In the OpenGL 4.3 spec we modified all uses of "primcount" to be "instancecount", so the refpage should be updated to call this parameter "instancecount".

[2019-03-28 07:00] oddhack commented on #257
@Deamon87 this is open on the wrong repository - can you move it to OpenGL-Refpages? Thanks.

@pdaniell-nv note this affects all the core draw call pages with this parameter, not just this one.

[2019-03-28 10:14] oddhack commented on #257
@pdaniell-nv @Deamon87 please review https://github.com/KhronosGroup/OpenGL-Refpages/pull/65 .

[2019-03-29 17:56] #257 closed

[2019-04-11 20:36] kenrussell opened #263 "KHR_parallel_shader_compile must define behavior under context loss"
In a discussion on Khronos' public_webgl mailing list about promoting WebGL's wrapper for the KHR_parallel_shader_compile extension, a point was raised:
https://www.khronos.org/webgl/public-mailing-list/public_webgl/1904/msg00004.php

Namely, the KHR_robustness specification defines that if a graphics reset occurs, then queries of certain global and per-object state signal that they completed, so

[2019-04-12 15:31] vonture commented on #263
Filed http://anglebug.com/3379

[2019-04-15 09:12] tsuoranta opened #264 "Please be more explicit about "all such related state""
GL 4.6 core / GLES 3.2 section 5.1.2 has language:

"When a buffer ... object is successfully deleted, it is unbound from any bind points it is bound to in the current context, and detached from any attachments of container objects that are bound to the current context, as described for DeleteBuffers ... . If the object binding was established with other related state ... all such related state ar

[2019-04-17 08:32] oddhack commented on #79
Although it took a while, we did address the missing sizei < 0 error (which was quite widespread) in the core specs. While it would be nice to eventually do this in the separate extension documents, it's a huge amount of tedious work of limited benefit; if you were to propose a PR matching the error in the GL 4.6 spec in this specific case (or as many cases in different extensions as you had energ

[2019-04-17 09:53] oddhack commented on #235
#255 was accepted, so closing this. #265 is pending for minor wording tweaks in the boilerplate comments about update policy.

[2019-04-17 09:53] #235 closed

[2019-04-17 20:34] pdaniell-nv commented on #264
I believe the "other related state" depends on the type of buffer being deleted. For example, if it was bound to a GL_UNIFORM_BUFFER binding point then the "other related state" can be found in the Uniform Buffer Binding State table, which includes GL_UNIFORM_BUFFER_START and GL_UNIFORM_BUFFER_SIZE. Does that seems reasonable?

There probably is some room for improvement in the spec to be more exp

[2019-04-17 20:36] pdaniell-nv commented on #263
We touched on this during the OpenGL/ES joint working group meeting today and agree this would be a good improvement to the GL_KHR_parallel_shader_compile spec. Will you propose a PR? Thanks.

[2019-04-18 01:27] oddhack commented on #198
See #266 (apparently Github doesn't auto-link issues & PRs based on the branch name, unlike gitlab).

[2019-04-18 01:28] oddhack commented on #198
@joonazan please take a look at the PR - I can't assign you as a reviewer because Github.

[2019-04-24 14:34] tsuoranta commented on #264
My issue is with glVertexAttribPointer*(). It touches size, stride, type, normalized, pointer, buffer_binding, integer for vertex attrib array in VAO. I peeked (very quickly only) in mesa sources and it reset some but not all of these to defaults on auto-unbind. I suspect different drivers/vendors might do different things. This would be a potential problem when trying to cache GL state, at least

[2019-04-24 14:38] tsuoranta opened #267 "GL_CLIP_DISTANCE in gl.xml"
`<group name="EnableCap">` has `<enum name="GL_CLIP_DISTANCE"/>`
- There is no API nor extension which would allow glEnable(GL_CLIP_DISTANCE).
- GL_CLIP_DISTANCE has no value defined in gl.xml.

[2019-04-24 14:45] oddhack commented on #267
Presumably that should have been GL_CLIP_DISTANCE0..7. Want to propose an MR?
N.b. the last time the groups were actively maintained was about 1999. They got bulk-imported when the SGI .spec -> XML conversion was done and there have been some public MRs, but basically they're hopelessly out of date.

[2019-05-07 22:00] pdaniell-nv commented on #264
Would you be willing to propose spec edits to resolve this issue?

[2019-05-08 18:07] pdaniell-nv commented on #267
@tsuoranta Are you able to propose a PR to fix this? Thank.

[2019-05-11 15:23] Perksey commented on #109
opentk/opentk#903 is blocked by this.

[2019-05-12 14:54] oddhack commented on #109
@Perksey we'd welcome any PRs you're able to contribute along these lines. The enum group stuff is purely for the benefit of downstream consumers - we don't use it at all for Khronos purposes - so there's not a lot of motivation to spend time on this.

[2019-05-12 15:15] Perksey commented on #109
Ah, alright. I'll try to direct new contributors to this issue, we're stuck on the 26 Dec 2017 version of the spec for the time being :|

[2019-05-13 12:46] oddhack commented on #79
Assigning this back to @jamieTaylorIMG as I'm not planning to do it for extensions, unless the WG specifically tasks me with it.

[2019-05-13 12:47] oddhack commented on #198
Closing - #266 should have addressed this.

[2019-05-13 12:47] #198 closed

[2019-05-19 15:46] tksuoran commented on #267
Fix for this issue is included in https://github.com/KhronosGroup/OpenGL-Registry/pull/274 which has some other fixes to enums as well.

[2019-06-14 02:18] yurivict opened #279 "[question] How to list all OpenGL ES 2 functions?"
The XML file https://github.com/KhronosGroup/OpenGL-Registry/blob/master/xml/gl.xml contains the list of all OpenGL functions.

Is there a way to find a sublist of OpenGL ES 2 functions without explicitly listing them?

[2019-06-14 11:11] oddhack commented on #279
Sure. Look at the \<feature> block corresponding to ES 2, the one with name="GL_ES_VERSION_2_0" and number="2.0". That doesn't include ES2-specific extensions, which are potentially the \<extension> blocks with supported= attribute containing "gles2" (although some of those extensions may only work against ES 3 or later).

[2019-06-14 11:12] oddhack commented on #279
N.b. the header generation is driven off of gl.xml via a frontend script, genheaders.py, which selects interfaces from the XML depending on the header being generated. It's a little indirect but still straightforward to reverse-engineer which interfaces belong with which API.

[2019-06-14 20:04] yurivict commented on #279
Thank you for this information!

I have one more question:
For my project I need to have every function that is used in WebGL as supported by browsers. I read somewhere that ```WebGL``` corresponds to ```OpenGL ES 2```. My question is what exactly is the ```WebGL``` set?

For example, the extension ```GL_NV_non_square_matrices``` supports ```gles2``` and has functions like ```glUniformMatrix4x2fvN

[2019-06-14 22:53] oddhack commented on #279
You'll be best off asking this on one of the WebGL-specific forums or mailing lists (see https://www.khronos.org/webgl/wiki/Main_Page). WebGL is based on ES 2, but it is a different API and has a Javascript binding, often with very different parameters (for example, passing in image objects instead of pointers to image data for the texture commands). We don't describe the WebGL API in gl.xml.

The

[2019-06-15 13:53] Perksey commented on #109
Can someone at Khronos update this issue, removing the enum groups added in #273 and #274?

[2019-06-15 23:53] yurivict commented on #279
I asked my question on the WebGL forum: https://community.khronos.org/t/is-there-an-xml-definition-of-webgl-api-and-its-relationship-to-opengl-es2/104177

Thank you for your help!

[2019-06-15 23:53] #279 closed

[2019-06-16 16:28] Perksey opened #280 "State Khronos' official stance on enum groupings"
Enum groupings are great for downstream consumers of the Khronos specification (i.e. bindings generators for other languages such as C#) and are depended on by projects such as OpenTK. However, Khronos seems to be neglecting these groupings, breaking code generators that depend on them. I feel that Khronos either needs to stop neglecting these groupings or officially state that enum groups are dep

[2019-06-17 04:32] yurivict commented on #279
I think I figured this issue out myself, as much as I could.

OpenGL specs are very nice, they are in a single ```gl.xml``` file.

However, WebGL isn't defined this way. WebGL specs are defined in two html files: https://github.com/KhronosGroup/WebGL/blob/master/specs/1.0.3/index.html and https://github.com/KhronosGroup/WebGL/blob/master/specs/2.0.0/index.html

The WebGL project parses html files

[2019-06-17 05:27] oddhack commented on #280
The enum groups are something left over from SGI's 25 year old gl.spec file format, and I imported them as they were in the GL 1.2 spec files when we moved to the gl.xml format. Khronos makes exactly no use of them for our purposes, and we don't have many cycles free for working on this stuff. So in that sense they have always been deprecated.

I'll take another look at #274 soon, which is I assum

[2019-06-17 10:57] Perksey commented on #280
This is somewhat related to that PR yes, but I wanted to get Khronos' general stance as I don't want to continue working on improving the spec's groupings if they're not even supported by Khronos. Currently, our C# bindings to OpenGL are stuck on specification version `681c365c` because our binder can't generate strongly-typed enums of enum groups that are referenced by functions but don't exist.

[2019-06-19 10:55] stohrendorf opened #282 "General and specific problems with gl.xml"
# Intention
So, I know there are already multiple issues and PRs about gl.xml, but I'd like to summarize a few problems I encountered while trying to write a generator using C++14 features. Please note: this is just a collection of ideas I had while trying to process gl.xml, and thus the proposals mentioned here are not perfect, and are surely incomplete.

What I'm trying to achieve is this (extra

[2019-06-22 06:23] oddhack commented on #109
@Perksey I believe it's up to date now.

[2019-06-22 09:48] oddhack commented on #282
There's a lot to unpack here. I'll preface this by saying that we (really I, because I'm the one responsible for this infrastructure) don't have much time or interest in significant rewrites, and if we did, we'd probably start by migrating to the (derived) XML schema used by Vulkan and a bunch of other Khronos APIs. It's not totally clear which parts of this are disliked things vs. which are thing

[2019-06-22 11:32] stohrendorf commented on #282
Sorry, I just forgot to close this issue, which probably would have prevented you from taking time to write such a lengthy (and good) response. I mostly agree to what was said, except for being conservative about changes, but I'm not in the position to question that. Most of the problems I had came from the naming conventions as I said above, and also that I overlooked a very crucial information a

[2019-06-22 11:32] #282 closed

[2019-06-22 14:38] Perksey commented on #109
Awesome - whoof that's still a lot of missing groupings.

[2019-06-22 15:37] oddhack commented on #282
I think we'd be happy to link to your project, but we don't want to include external stuff like this because it introduces an expectation that we would maintain it - which we probably wouldn't. Lots of bad experience with this in the past. Khronos is mostly focused on generating specs and SDKs and conformance suites, but not much beyond that. Even the Vulkan-Hpp (C++ bindings for Vulkan) project,

[2019-06-22 16:04] stohrendorf commented on #282
I fully understand that, than you :)

[2019-06-25 19:56] pdaniell-nv commented on #267
Since https://github.com/KhronosGroup/OpenGL-Registry/pull/274 is merged closing this issue.

[2019-06-25 19:56] #267 closed

[2019-07-03 18:24] tommai78101 opened #286 "Link returns 404 on the "Tutorials and How To Guides" section."
Link to the section:

https://www.khronos.org/opengl/wiki/Getting_Started#Tutorials_and_How_To_Guides

The first link, named, "Develop with OpenGL 3.1 from scratch (Français)" now returns 404 when opened. This content no longer exists.

http://www.siteduzero.com/tutoriel-3-421558-developpez-vos-jeux-video-3d-avec-opengl-3-1.html

[2019-07-03 18:26] tommai78101 commented on #286
And then the second link goes to BitBucket's homepage.

The link should be updated to this one, I think?

https://bitbucket.org/alfonse/gltut/wiki/Home

[2019-07-03 19:31] Perksey commented on #280
Any updates here? I think that Khronos needs to decide whether to keep these groupings or not, as to eliminate downstream consumers of the spec depending on these broken groupings. In an ideal world, Khronos would actively try to encourage vendors to keep these groupings up-to-date, but I understand that not everyone has time to do so.

It's a case of mend or remove, in my opinion.

I understand t

[2019-07-03 19:32] Perksey commented on #286
This issue is in the incorrect repository.

[2019-07-03 20:09] tommai78101 commented on #286
Whoops, I did not realize this. Is this the correct repository?

https://github.com/KhronosGroup/Khronosdotorg

[2019-07-03 20:12] Perksey commented on #286
Yep :) Feel free to close this issue once you've copied and pasted it in there!

[2019-07-04 00:50] oddhack commented on #286
I fixed it, although it says "in moderation" and I have no idea who the moderator is. If it's the Khronos webmaster, he's on vacation for a bit and may not get to this until mid-July.

[2019-07-04 00:50] #286 closed

[2019-07-10 19:41] pdaniell-nv commented on #280
@Perksey and @oddhack do you have a sense of how much effort it would take to fix the group definitions?

[2019-07-10 19:55] Perksey commented on #280
@pdaniell-nv To fix the enum groupings, you need to have a relatively good grasp of what constants are actually applicable for a given function/extension.

As an external contributor, this is extremely hard as @frederikja163 and I spent a solid 2 hours reading the text extension proposals/specifications, and then adding them into the spec manually. All this, with little knowledge of the extensions

[2019-08-07 12:59] oddhack commented on #280
I missed replying earlier, but TBH I don't think we have a big advantage over anyone outside Khronos in terms of updating the enum groups. The information isn't, by and large, automatically extractable from the core spec or the registry extension specs - and in many cases, the extension authors have long since moved on to other things. So it comes down to a lot of painstaking review as @Perksey no

[2019-08-07 14:44] Perksey commented on #280
Thanks for clearing that up. Personally I don't like the idea of keeping in broken groupings, but I get the reasoning behind it. If we could officially deprecate the groupings in some way though, that'd be great.

[2019-08-07 17:25] pdaniell-nv commented on #280
We discussed this again in the OpenGL/ES meeting today.

@oddhack can your propose something along these lines. Thanks.

[2019-08-09 15:13] realvictorprm commented on #280
This is a huge mess and it's incredible sad that the lazyness to make a single small addition in a documentation file created this over time.

[2019-08-09 15:25] realvictorprm commented on #280
Wouldn't it be possible to look the enum groupings up in the human specification/documentation for a OpenGL function?

[2019-08-09 16:05] oddhack commented on #280
Yes, that's what would be required. With the proviso that you would have to look up every extension that may interact with that function, as well as the core API spec.

[2019-08-09 16:11] oddhack commented on #280
@pdaniell-nv #291

[2019-08-10 07:47] frederikja163 commented on #109
Look, I would be happy to update the enums and put a lot of hours into making them work again. The only problem I have is that I frankly don't know how I would fix them. I do not know which files to look through/which documentation. So if the guys at Khronos know how to fix it but simply don't have the time. Please do point me in the right direction and I will definitely do my best to get them all

[2019-08-10 11:08] realvictorprm commented on #280
ok thank you :)

[2019-08-10 13:14] frederikja163 commented on #109
Update: I spent the last 5 hours looking at the spec and extensions folder, and now i should have them all fixed, i will make a PR right away

[2019-09-12 02:14] #280 closed

[2019-09-19 16:05] nwnk opened #303 "0x0 GLXPbuffers are underspecified"
Mesa has never supported this, and I believe NVIDIA doesn't either, and it's a fairly goofy thing to do in any case. However the spec doesn't say what error to raise to indicate failure here. Mesa happens to throw BadValue in its real-GLX paths, and will simply return 0 for fake-GLX.

A similar observation applies to EGLPbuffers, but there are probably many more EGL implementations than GLX. In an

[2019-09-19 16:07] nwnk commented on #202
Or, I would, but I don't know where the source to the GLX spec went. I can probably find it in the internal Khronos svn but it doesn't appear to be in any of the public repos.

[2019-09-19 16:11] nwnk commented on #199
I think this wants a spec update to ARB_framebuffer_sRGB. Right now it doesn't mention glXChooseFBConfig or glXGetFBConfigAttrib at all, nor specify that it's an exact match for selection but undefined for sorting (which seems to be the consensus here). I'll write that up.

[2019-09-30 06:09] tsuoranta opened #306 "Missing enum values in current gl.xml"
The following enums do not have values defined:
[code]

[2019-09-30 06:11] #306 closed

[2019-09-30 06:12] tsuoranta commented on #306
My mistake, this is not the case.

[2019-09-30 08:34] tsuoranta opened #308 "[gl.xml] Some OES enums are missing group"
Following OES enums are missing group:
[code]
Fix proposal in #307

[2019-10-04 02:06] oddhack commented on #308
@tsuoranta if #308 addressed this, please close the issue.

[2019-10-04 02:07] #199 closed

[2019-10-04 02:12] oddhack commented on #202
GLX and GL spec sources aren't public, and GLX has been updated so rarely I haven't even moved it out of SVN into internal gitlab, which will be required since we've made SVN read-only :-) That said if you want to send me a patch against ogl/trunk/specs/glx in SVN, I'll make the right stuff happen.

[2019-10-04 02:15] oddhack commented on #303
Assign to @pdaniell-nv to figure out what NVIDIA's GLX implementation does, which is hopefully the same as Mesa's, then we can do a spec patch. Is it just 0x0 or also 0xN / Nx0 that should be addressed by this?

[2019-10-04 21:20] cubanismo commented on #303
Our driver will apparently handle 0xN, Nx0, and 0x0 pbuffers and give you a valid pbuffer object you can make current to and whatnot from what I can tell.

[2019-10-04 21:21] cubanismo commented on #303
FWIW, I'm still fine with a spec update that says implementations might return BadValue or something here.  It's just not what our implementation does right now.

[2019-10-07 17:54] nwnk commented on #303
Hah! Neat. A few questions:

- I imagine making such a pbuffer current would behave like you said `glXMakeCurrent(dpy, None, ctx)` from the GL perspective and just clip everything?
- This is true of both GLX and EGL?
- Any idea how long that's been legal in your driver? `GLX_SGIX_pbuffer` kinda reads like that was always legal, now that I look at it again. If it behaves like in point 1 above I'm j

[2019-10-11 22:06] achurch opened #310 "Possible error in ARB_texture_compression_bptc document"
According to the ARB_texture_compression_bptc extension document, in modes with shared P-bits, there is one P-bit per endpoint (https://github.com/KhronosGroup/OpenGL-Registry/blob/master/extensions/ARB/ARB_texture_compression_bptc.txt#L372-L374):
[code]
However, in Microsoft's documentation of the DirectX BC7 compression method, which I understand to be the same as BPTC (please correct me if not)

[2019-10-12 10:39] tsuoranta opened #313 "[gl.xml] framebuffer attachments has incorrect and missing values"
`GL_MAX_COLOR_ATTACHMENTS`, `GL_MAX_COLOR_ATTACHMENTS_EXT` and `GL_MAX_COLOR_ATTACHMENTS_NV` do not belong to `FramebufferAttachment` enum group.

`GL_STENCIL_ATTACHMENT`, `GL_STENCIL_ATTACHMENT_EXT` and `GL_STENCIL_ATTACHMENT_OES` are missing from `FramebufferAttachment` enum group.

Fix proposal in #312

Related question: Split to separate issue #317

[2019-10-12 10:43] tsuoranta opened #315 "[gl.xml] ReadBufferMode should include GL_NONE"
`ReadBufferMode` enum group should include `GL_NONE`.

Fix proposal in #314

[2019-10-12 11:05] tsuoranta opened #317 "[gl.xml] Invalidate*Framebuffer() attachments accept GL_COLOR, GL_DEPTH, GL_STENCIL"
`glInvalidate*Framebuffer()` and `glDiscardFramebuffer()` accept `GL_COLOR`, `GL_DEPTH` and `GL_STENCIL` as attachments. In current gl.xml these gl commands use `FramebufferAttachment` as enum group for attachment, and color/depth/stencil is not included in that enum group.

I propose that we create a new enum group `InvalidateFramebufferAttachment`, which would contain same enums as `FramebufferA

[2019-10-12 12:28] tsuoranta opened #318 "[gl.xml] Functions using raw GLenum without group"
Functions which use raw GLenum directly, without enum group:

Introduced in GL_VERSION_3_1:
* glGetIntegeri_v()

Introduced in GL_VERSION_3_2:
* glGetInteger64i_v()

Introduced in GL_VERSION_4_1:
* glGetDoublei_v()
* glGetFloati_v()
* glGetProgramBinary()
* glProgramBinary()
* glShaderBinary()

Introduced in GL_ES_VERSION_2_0:
* `glShaderBinary`

Introduced in GL_ES_VERSION_3_0:
* glGetInteger64i_

[2019-10-15 17:45] pdaniell-nv commented on #310
@fluppeteer Do you have any thoughts on this?

[2019-10-17 21:57] prrace opened #320 "glxext.h re-defining int64_t on Solaris - causing compilation failure."
glxext.h has this block of code below, which seems to pre-date the github migration.
OpenJDK (http://hg.openjdk.java.net/jdk/jdk) has a truly ancient copy of this file and
I am in the process of updating it, however when included in the JDK sources, it fails to
compile on 64 bit Solaris 11 SPARC due to a typedef re-definition :

`"glxext.h", line 690: error: typedef redeclared: int64_t (E_TYPEDEF_

[2019-10-17 21:59] prrace commented on #320
Oh, BTW this comment
/* This code block is duplicated in glext.h, so must be protected */
must be out of date. I don't see anything like that there.

[2019-11-03 11:44] oddhack commented on #320
Sorry for the delay responding. I'd like to do a sanity check with Mesa, since they're probably the only OpenGL project still supporting any kind of Solaris drivers, and if they're OK with it happy to make this change. Unfortunately freedesktop.org is down right now so I'm unsure how to submit the question to them, but will hopefully remember to check back soon. If you're a Mesa developer, maybe y

[2019-11-03 15:38] prrace commented on #320
Initially I noticed this with the version I pulled from Mesa, but I supposed the origin (here) was the place to report it. I am not associated with the mesa project.

Got it about the xml being the file to manually update.

[2019-11-03 15:47] oddhack commented on #320
This is the canonical source, but since the combination of Solaris + GLX is only supported by Mesa, AFAIK, it seems prudent to check with them as I have no way to validate the PR myself. I'll try to check in with them soon - in process of creating a freedesktop.org account now.

[2019-11-05 09:05] tsuoranta opened #325 "glMultiDrawArrays has incorrect param len expression"
glMultiDrawArrays has incorrect param len expression

Fix proposal in #324

[2019-11-12 01:09] ascent12 opened #326 "EXT_disjoint_timer_query: gl.xml missing glGetInteger64vEXT"
https://www.khronos.org/registry/OpenGL/extensions/EXT/EXT_disjoint_timer_query.txt mentions in the "Dependencies" section that

However, there is no specification of this function anywhere in gl.xml or in the final gl2ext.h header.
Without this, an application targeting GLES2 that wants to use this extension cannot query GL_TIMESTAMP_EXT to its full precision if GL_QUERY_COUNTER_BITS_EXT is great

[2019-11-15 17:16] Perksey commented on #318
This will probably need to be done by members of the community, as the groupings are essentially "deprecated" and aren't maintained by Khronos as much as they used to.

[2019-11-15 17:16] Perksey commented on #109
This issue can be closed now in response to #292.

[2019-11-15 17:25] Perksey opened #327 "Invalid enums referenced by various groups."
I would PR this straight in, but I need to confirm whether these are incorrect references or missing references.

cc:
NV @pdaniell-nv
ARB @oddhack
Silk.NET @frederikja163

[code]

Writing this, it seems that it's been assumed that all enums within groups with vendor suffixes too have suffixes. What's the best way to resolve this? Remove the suffixes from the enum group names, or just fix the refer

[2019-11-15 23:00] pdaniell-nv commented on #327
There's probably some historical reason those suffixed tokens are still there. I think the simplest thing would be to just remove the suffixes so the groups reference valid tokens.

[2019-11-17 21:04] Perksey commented on #313
Safe to be closed.

[2019-11-17 21:04] Perksey commented on #317
Safe to be closed.

[2019-11-17 21:05] Perksey commented on #315
Safe to be closed.

[2019-11-18 14:52] oddhack commented on #326
It would not be hard to inject this into gl.xml, but it's worth asking first if this is a real-world use case -  *is* there a GLES2 implementation supporting this extension that isn't also a GLES3 implementation at the same time? If so you're welcome to construct a PR against gl.xml to alias the core function and add a gles2-specific requirement for it in the extension interface block.

[2019-11-18 14:53] oddhack commented on #320
@prrace I never got a freedesktop.org account created - wouldn't send me the validation email AFAICT. Maybe you could follow up with them.

[2019-11-19 11:11] tpalli commented on #326
I've created a PR here:
https://github.com/KhronosGroup/OpenGL-Registry/pull/329

[2019-11-19 11:16] tpalli commented on #326
@oddhack what comes to the GLES2 driver question, I know that we have drivers in Mesa that support only GLES2 (+ possibly subset of GLES3.x features), this could be useful for such a driver.

[2019-11-19 14:55] oddhack commented on #326
I overlooked that the extension specification itself will also need some text added to define the GetInteger64vEXT command, since that's present nowhere else in the API. That could probably most easily be cloned from the GL_APPLE_sync spec since they did a similar thing, although I haven't verified that's identical to the language for GetInteger64v in the ES 3.2 spec.

[2019-11-19 21:36] pdaniell-nv commented on #325
Fix has been merged. Closing.

[2019-11-19 21:36] #325 closed

[2019-11-19 21:37] #313 closed

[2019-11-19 21:37] #315 closed

[2019-11-19 21:37] #317 closed

[2019-11-19 21:38] #109 closed

[2019-11-19 21:42] #308 closed

[2019-11-20 01:15] cubanismo commented on #303
Yes, the pixel ownership test will always fail for these pbuffers.

Good news everyone!  In EGL, we support this as well, but it actually behaves as if the pbuffer has a 1x1 valid rect, so the behavior is subtly different than our GLX implementation.  FWIW, I consider that a bug in our driver, but that's the current behavior.  According to comments in the code near this hack, old versions of firef

[2019-11-21 11:25] #310 closed

[2019-11-21 23:40] 3b commented on #109
Thanks, that mostly works for me, with a few changes in pull #332.

[2019-12-06 17:10] #327 closed

[2019-12-06 19:39] Perksey opened #335 "XML Format Consultation: Merging <groups> and <enums>"
# Introduction
One thing that's annoyed me about the current XML schema is that the strongly-typed enum groupings are separate to the rest of the specification. Granted, they aren't that useful in C but downstream consumers (such as my [Silk.NET](https://github.com/Ultz/Silk.NET) library for C#) who are using the XML specification to bind OpenGL to languages that do better support strongly typed e

[2019-12-06 23:17] Perksey commented on #107
Could just add a type attribute to remove blocks which will accept either “remove” or “deprecate”

[2019-12-10 19:53] pdaniell-nv commented on #310
Fix for the OpenGL ES EXT_texture_compression_bptc extension spec is here: https://github.com/KhronosGroup/OpenGL-Registry/pull/337

[2019-12-11 09:53] oddhack commented on #326
Added #338 with the spec language for GetInteger64vEXT.

[2019-12-11 10:32] oddhack commented on #335
The expression of enum group allocation and use that the current XML contains is important to us - the SGI enum registry was literally the place gl.xml began from. I don't see how you can simultaneously use the enums tags for semantic grouping and numerical grouping without simply replicating every enum in at least two places, so I'm not feeling much enthusiasm for this idea -although I applaud yo

[2019-12-11 11:16] Perksey commented on #335
Yeah I understand that, and perhaps we need to look further into the current state of the groupings to look at what can be done to achieve the main goal: enforcing validity of groupings without causing any further trouble for vendors and spec editors.

[2019-12-12 10:18] #326 closed

[2019-12-12 10:37] oddhack commented on #335
A way of doing this that would probably have no effect on current consumers is to move the group attribute into the individual \<enum> tags rather than using \<enums> as a grouping mechanism. It is kinda wordy (expands the file size by 5-10% at a guess), but since it's just a new attribute on an existing tag, it should be ignored by our scripts, and probably by most processing tools unaware of it.

[2019-12-12 11:15] Perksey commented on #335
Yeah that works for me, I’ll update the proposal next time I’m on a
computer.

On Thu, 12 Dec 2019 at 10:37, Jon Leech <notifications@github.com> wrote:

[2019-12-12 11:41] oddhack commented on #335
OK. If we go this way, please add the attributes at the end of the tag, not the beginning - keeping the name & value first is preferable for me.

[2019-12-12 11:54] Perksey commented on #335
Yeah I agree with that 100%, putting it elsewhere would make it a lot
harder to edit the enums.

On Thu, 12 Dec 2019 at 11:41, Jon Leech <notifications@github.com> wrote:

[2019-12-12 18:25] Perksey commented on #335
I've updated the issue, let me know if there's any further comments. I've also been hearing radio silence from the downstream consumers which is slightly worrying.

[2019-12-13 05:40] fccm commented on #335
Maybe you also want to CC dbuenzli/tgls

[2019-12-13 08:09] Perksey commented on #335
@dbuenzli any comments?

[2019-12-16 21:38] null77 commented on #335
Impacts ANGLE as we use gl.xml to generate our entry points and other files. @null77 is my handle.

[2019-12-16 21:40] Perksey commented on #335
@null77 Do you use the <group> blocks at all? This proposal only affects this portion of the spec, if you're not parsing anything else then you won't be affected by this issue.

[2019-12-16 21:40] null77 opened #339 "gl.xml: Several texture format enums are missing from enum groups"
We noticed this when writing a "glenum to string" method. Several extension format enums and other odd enums are missing from the enum group sections.

We'll propose a patch that fixes the omissions that we ran into.

[2019-12-16 21:52] null77 commented on #335
We do. They're helpful when converting a GLenum to string as some GLenum values overlap.

[2019-12-16 21:59] Perksey commented on #335
Ah ok. In the `Proposed course of action` section of this document I outline a... well... proposed course of action. Is this good enough to ensure a smooth transition over to the group attributes?

[2019-12-16 22:54] null77 commented on #335
The motivation sounds reasonable. Implementing a presubmit check that validates new enums have a group tag also sounds like it would solve your problem without causing conflicts downstream. What do you think? I'm assuming your motivation is that the groups aren't reliable right now.

[2019-12-16 22:57] Perksey commented on #335
Yeah I was thinking about adding in a check as we already developed a small
error checker application internally, but a presubmit check won’t fix the
problem where the groupings are separate and, as a result, spec editors
have to go out of their way to ensure group correctness whereas if they’re
declared inline with the enum, it’s a lot easier for spec editors to
declare the groups.

I want to wor

[2019-12-16 23:00] null77 commented on #335
How do you handle enums that are in more than one group? I imagine you could use a separator token. Might want to include an example of this.

[2019-12-16 23:21] Perksey commented on #335
Yeah it’ll probably be a | separator. Will update the proposal when I’m
next on a PC.

On Mon, 16 Dec 2019 at 23:00, Jamie Madill <notifications@github.com> wrote:

[2019-12-17 09:32] dbuenzli commented on #335
I'm fine with the change. I dont have these things in my mind since I wrote them 6 years ago but a quick look seems to indicate I'm not using `groups` for generating the bindings in [tgls](https://github.com/dbuenzli/tgls) (OCaml thin bindings to GL apis).

It's even likely my parser won't need to be changed since as far as I understand the idea is to drop `groups` and simply add a new attribute t

[2019-12-17 18:47] Perksey commented on #335
Alright have updated the proposal with the latest comments - thanks everyone for the help and co-operation btw, I understand that a lot of factors need to be considered when making such a huge change.

I think at the moment I'm gonna hold out for some formal comments from the OpenGL Working Group next time they have a OpenGL(ES) meeting, will make a PR after.

[2019-12-24 02:37] usagi opened #340 "`LICENSE` file(s)"
I think, the repos need add the `LICENSE` file(s). In now, license informations exists in an each header files. But it is not a kind for users.

[2019-12-24 03:02] oddhack commented on #340
It's difficult to capture the mix of licenses in the repository. Some are Apache 2; some are BSD; some of the API specs are under the current Khronos spec license which allows republication but not modification; some of the older specs are under older Khronos and SGI licenses with different and more restrictive terms; many of the extension specs are implicitly copyright by the company that created

[2019-12-24 05:26] usagi commented on #340
Ah, I didn't understood the situation but in now, I understood it. I checked only a small part of the APIs. I made this issue because inconvinient when I need a clear license check for a software under development. I am sorry for my lack of consideration toward the repos. Thank you @oddhack, for the good explanations.

[2019-12-24 05:26] #340 closed

[2019-12-29 19:10] Perksey commented on #335
@oddhack @pdaniell-nv Has this been discussed in an OpenGL(ES) working group meeting yet, if not have you any idea when it will be (if at all)?

[2019-12-31 14:47] oddhack commented on #335
I expect we'll talk about it once meetings resume in mid-January. Many people are not available during the holidays and no working group meetings are happening. This is probably not going to be an objectionable change to Khronos, but I expect we'll want to have more confidence that XML consumers won't be unpleasantly surprised - staging it by adding the new attributes first and getting rid of the

[2019-12-31 15:17] Perksey commented on #335
Ah I didn't know they'd stopped for now. My apologies :|

Yeah I've tried to do that as best I can by tagging maintainers of known bindings libraries here on GitHub, but doing an announcement somewhere is probably needed to notify all downstream consumers.

Yeah `|` certainly isn't pretty and I was originally going to use `,`, but opted for `|` to be consistent with the rest of the spec (i.e. `sup

[2020-01-05 18:56] giawa commented on #335
Thanks for looping me in.  My bindings actually process the man pages instead of using the xml schema (I didn't even know the xml existed).  I'll look at using the xml schema in the future, but for now I am unaffected.

[2020-01-05 19:18] Perksey commented on #335
Awesome, glad to hear :)

[2020-01-05 20:17] luca-piccioni commented on #335
Personally, group specification management has always been a problem to be circumvented (missing enums, wrong enums, groups renamed). Lately I have seen a greater attention to this aspect, probably thanks to the users of the specification in XML format (had submitted some PR about groups definition).

In my project, the changes required to digest the new XML format should be minimum (groups inform

[2020-01-06 13:41] oddhack commented on #335
@giawa be aware that the refpages are not a great place to get comprehensive API information from. They only go up to GL 4.5 and do not include extensions.

[2020-01-06 13:44] oddhack commented on #335
@pdaniell-nv please put on the WG agenda when meetings start up again. I think this proposal has evolved far enough to be adoptable by us - there are some questions about how to transition from the old to the new schema but leaving the old group tags in place for a while should make this have low impact on XML consumers. The new attributes are likely to be ignored by existing consumers.

[2020-01-06 15:53] hanfling opened #341 "EXT_texture_sRGB_decode assumes S3TC sRGB formats introduces in EXT_texture_compression_s3tc"
EXT_texture_compression_s3tc only introduces the non sRGB S3TC formats, where as the EXT_texture_sRGB extension actually introduces the COMPRESSED_SRGB_S3TC_DXT1_EXT, COMPRESSED_SRGB_ALPHA_S3TC_DXT1_EXT, COMPRESSED_SRGB_ALPHA_S3TC_DXT3_EXT, and COMPRESSED_SRGB_ALPHA_S3TC_DXT5_EXT formats.

Now inside EXT_texture_sRGB_decode spec:

	Dependencies on EXT_texture_compression_s3tc

		If EXT_texture_com

[2020-01-08 12:39] tkaaad97 opened #342 "Add information to parameters representing objects"
In OpenGL API, object's identifiers are represented with just GLuint. I think it would be convenient if object type could be distinguished from the gl.xml when generating code for OpenGL binding libraries.

Below examples shows the case of adding information to buffer parameters.

[code]

[code]

[code]

This change could be acceptable?

[2020-01-08 15:43] pdaniell-nv commented on #335
We discussed the proposal in the OpenGL/ES joint working group meeting and we approve the plan. We look forward to seeing the PR(s).

[2020-01-08 15:51] pdaniell-nv commented on #341
Discussed in the OpenGL/ES joint working group meeting and we agree with your understanding. Would you like to propose a PR to fix the extension?

[2020-01-08 19:30] hanfling commented on #341
Assuming PR==pull request. If needed I can do that, but I prefer not to. I'm not too familiar with how to exactly phrase it for the spec/ext.

[2020-01-08 19:51] pdaniell-nv commented on #341
No worries. How does this look: https://github.com/KhronosGroup/OpenGL-Registry/pull/344

[2020-01-08 19:56] hanfling commented on #341
The

	Dependencies on EXT_texture_compression_s3tc

but inside it discusses the dependency on both exts, I think it rather needs to be either

	Dependencies on EXT_texture_compression_s3tc and EXT_texture_sRGB

Or have two sections:

	Dependencies on EXT_texture_compression_s3tc

and

	Dependencies on EXT_texture_sRGB

which both do remove the formats individually.

[2020-01-08 21:18] pdaniell-nv commented on #341
Thanks for the feedback. I updated https://github.com/KhronosGroup/OpenGL-Registry/pull/344. If you have other comments can you make them directly in https://github.com/KhronosGroup/OpenGL-Registry/pull/344. Thanks.

[2020-01-08 22:24] Perksey commented on #335
The initial migration PR is up. Once that has been merged in, all that is left is to decide on a date on which the group blocks will be removed, and then finally remove them.

[2020-01-08 22:40] frederikja163 commented on #335
Just saw this, but I must say, anything to improve the useability of the enum groupings are very welcome to me, I'm not personally working with the gl.xml in the projects that are using it I'm involved with. However, I have faith that the people directly working with gl.xml are more than capable and motivated to go through with these changes. My main concern is the implementation and if the transf

[2020-01-08 22:42] frederikja163 commented on #339
I think a list of the enums that are missing from the enum groups would be apriciated, although it might not be necessary with #335

[2020-01-08 23:06] Perksey commented on #335
Aha hey Fred wave 👋

Yeah definitely, and I don’t want to remove the old groups until a
sufficient time has passed to allow downstream consumers (such as
Google/the ANGLE team, OpenTK, Silk.NET, to name a few) to move over to the
new format.

Mind, I want most of the engineering effort to be focused on the group
attributes rather than the old groupings to avoid duplication of work
and/or the new b

[2020-01-11 12:23] oddhack commented on #335
!346 adds documentation of schema change from !343, should be accepted once !343 is merged.

[2020-01-12 12:59] Dav1dde commented on #335
As the author of [glad](https://github.com/Dav1dde/glad), the gl.xml has many issues which some of them have been solved already by newer specifications like Vulkan, I am all in favor for making the specification better but at the same time I want to warn about breaking changes without having some kind of (semantic) versioning on the specification.

There are many tools out there like glad or ones

[2020-01-12 13:06] Perksey commented on #335
Hi David, thanks for your input. Ultz and Khronos both understand the implications of a change such as this, although it's worth mentioning that the groupings have been effectively deprecated since the demise of Silicon Graphics.

Regarding the breaking changes, we intend to keep the old-style group blocks in read-only mode to avoid parsers from breaking, giving the sufficient time to move over to

[2020-01-12 13:11] Perksey commented on #335
My end goal of this proposal was to make it easier to add new groupings, in hopes that Khronos and other spec editors will add groupings for each new enumerant and extension.

I've spoke with @frederikja163 about this: I have no expectations for Khronos to fix the damage that has already been done regarding the groupings, but I hope that now it's easier to declare groups that with each enumerant t

[2020-01-12 14:32] Dav1dde commented on #335
@Perksey I am looking forward to all your improvements on the spec, they are necessary and/or helpful, change is good, also it is great it see someone actively work on it and Khronos (+ all members attached) are open for it.

My concern was more general, something to remember and if there is a breaking change to do it consciously and at best with a clear way forward.

[2020-01-12 14:55] Perksey commented on #335
Ah okay, yeah I fully understand. We won't remove the groupings until all the significant downstream consumers are ready. If we've missed any of them, please tag them in here!

[2020-01-12 14:57] Perksey commented on #335
@nigels-com any comments? Will this break GLEW?

[2020-01-12 15:31] 3b commented on #335
Changes look good for cl-opengl, and I build bindings manually to edit new function names anyway, so transition doesn't matter too much for me.

I notice the new patch adds the `group=` attributes to `enums/enum`. I wonder if it would be better to add it to `feature/require/enum` and `extension/require/enum` instead?

It might be a bit more work for the initial translation, but would possibly make

[2020-01-12 21:18] nigels-com commented on #335
@Perksey I'm not too daunted from the GLEW point of view.  It may break GLEW in some workflows, but my feeling is that comes with the territory.

[2020-01-13 01:41] oddhack commented on #335
I don't have deep knowledge of associating XML schemas with XML documents, but https://www.w3.org/XML/2010/01/xml-model/ appears to bear on this. We could add some xml-model directives to gl.xml, although how to namespace minor iterations to the schema isn't entirely obvious. Perhaps the xml-model directive could refer to a github URL pointing at the latest update to the RNC schema at the time the

[2020-01-13 09:35] Perksey commented on #335
Sounds like a plan. Will adjust the existing PR later on today.

On Mon, 13 Jan 2020 at 01:41, Jon Leech <notifications@github.com> wrote:

[2020-01-13 11:55] ebassi commented on #335
From the perspective of [libepoxy](https://github.com/anholt/libepoxy) this change looks good; our XML → C dispatch generation only cares about `enums/enum` definitions and does not look at `groups/enum` at all, under the operating assumption that enumeration symbols are side-effect-free and harmless.

If we wanted to change the enumeration symbol definition code, having the group(s) in the same e

[2020-01-14 09:29] Perksey commented on #335
Awesome, glad to hear. There aren't a lot of downstream consumers of the XML that use the groupings but we want to ensure the few that do are ready for the change.

[2020-01-14 20:29] Perksey commented on #335
Please note: I'd also like to start thinking of a rough timeframe for removing the old blocks to defer use & modification of them. I get this isn't something that can't be done very suddenly but now we've seen the extent of these changes, we should be able to come up with a rough idea of how long the old format will last - months? a year? multiple years?

Perhaps this is something else that should

[2020-01-15 03:48] BoysFight opened #347 "GL_EXT_YUV_target. How to read/write data from the YUV texture?"
Hi, there.
I am trying to use the GL_EXT_YUV_target to process yuv data on android. https://www.khronos.org/registry/OpenGL/extensions/EXT/EXT_YUV_target.txt, the link describes something about the glsl, but i can not find how to read/write the data from the texture.
Are there samples  that using this feature?

[2020-01-15 11:16] Dav1dde commented on #335
My approach would be to keep the API as it is and generate the `<groups>` from the new `<enum>` information to have no breaking changes until there is a clear path (or decision) on how to deal with breaking changes.

If right now the decision is to have breaking changes at any time (also in the future), might as well remove the `<groups>` relatively soon.

[2020-01-15 16:41] Perksey commented on #335
We could do that, however that involves setting up the necessary infrastructure to have that automatically done and I'm not in a position to do that at the moment.

I feel the `<groups>` being read-only herein until a given date (after which they'll be removed) is an acceptable way forward, but all I'm after is to finalize what that date actually is.

[2020-01-17 10:58] lexaknyazev opened #349 "Texture array support for RGTC"
From the way the extension specs (`ARB_texture_compression_rgtc` and `EXT_texture_compression_rgtc`) are written, it seems that `CompressedTexImage3D` should always fail with `INVALID_ENUM` when used with RGTC formats.

This is justified in the spec by comparing 3D slices with 3D blocks:

However, it's not clear why this should prevent RGTC from being used with 2D arrays.

[2020-01-17 21:07] Perksey commented on #318
Discard the file that Fred previously attached as there was a bug in GLSpecTools. Here's an updated copy:
[ungrouped_enums.master.txt](https://github.com/KhronosGroup/OpenGL-Registry/files/4079069/ungrouped_enums.master.txt)

[2020-01-18 21:33] ReinUsesLisp opened #350 "DepthRangeArraydvNV and DepthRangeIndexeddNV not defined in XML"
The interaction with `NV_depth_buffer_float` of `ARB_viewport_array` is not defined in [gl.xml](https://raw.githubusercontent.com/KhronosGroup/OpenGL-Registry/master/xml/gl.xml). The functions added by this interaction are `DepthRangeArraydvNV` and `DepthRangeIndexeddNV`.

The extension [specification](https://www.khronos.org/registry/OpenGL/extensions/ARB/ARB_viewport_array.txt) defines these fun

[2020-01-19 14:04] SunSerega opened #351 "[gl.xml] non-parsable groups "DataType" and "FfdMaskSGIX""
1. Line 1017:
[code]
	There isn't anything in enums tag, refering to this, but on line 240:
[code]

2. Line 1264:
[code]
	This time there are enums refering to this, on line 5137:
[code]

Still, in both cases comments are used, which aren't parsable.

I guess `DataType` group should be removed, as it isn't used anywhere (instead all commands use `DataTypeEXT`).
And `FfdMaskSGIX` should be properly

[2020-01-19 22:00] Perksey commented on #351
The group blocks are deprecated in favour of group attributes as described in #335 and #343. Please check if your issue is still present with the new schema. If the PR fixes your issue, please close it.

[2020-01-19 22:01] Perksey commented on #350
I'm willing to PR this unless these functions were intentionally left out?

[2020-01-19 23:12] Dav1dde commented on #350
Probably not that easy since if I read the spec correctly these functions should only exist if the other extension is enable too. Maybe not worth to be correct and just to always add the functions.

[2020-01-20 01:06] #342 closed

[2020-01-20 06:29] oddhack commented on #350
I'd stick them inside something like this:

[code]

The schema could be extended to explicitly address this scenario if it's important to capture mechanically, but we haven't done that yet.

[2020-01-20 06:36] Dav1dde commented on #350
Thinking about it, this should be good enough since it is a runtime requirement anyways. Can't ever know at compile time if these functions should exist or not.

[2020-01-20 07:45] SunSerega commented on #351
I seen issue, but not pull before posting...
I'll close this when/if pull get's merged.

[2020-01-21 20:24] pdaniell-nv commented on #318
Is this issue still relevant now that https://github.com/KhronosGroup/OpenGL-Registry/issues/335 is being addressed?

[2020-01-21 20:28] pdaniell-nv commented on #347
A better place to get this answered is probably here: https://community.khronos.org/

[2020-01-21 20:28] #347 closed

[2020-01-21 20:31] pdaniell-nv commented on #350
This was probably an oversight. It would be great if someone contributed a PR to fix this.

[2020-01-22 14:36] Perksey commented on #350
On it.

[2020-01-22 17:39] pdaniell-nv commented on #341
What Apple platform was this, and what version of OpenGL or OpenGL ES did you see this issue? The reason we ask is that GL_EXT_texture_sRGB was promoted to OpenGL core in version 2.1,

Also the way the GL_EXT_texture_sRGB_decode extension was written is that is actually requires sRGB support: "OpenGL 2.1 or EXT_texture_sRGB requried for OpenGL". In other words, you can't expose this extension at a

[2020-01-22 18:05] pdaniell-nv commented on #349
There is no restriction from using RGTC with glCompressedTexImage3D and a target of GL_TEXTURE_2D_ARRAY. The RGTC extension was folded into OpenGL 3.0 core, and that spec and the latest OpenGL 4.6 spec allow RGTC to be used in 2D arrays.

From the OpenGL 4.6 spec:

As a general rule of thumb, the OpenGL core specs should be referenced instead of the extension specs after an extension has been inte

[2020-01-22 18:05] #349 closed

[2020-01-22 18:25] lexaknyazev commented on #349
@pdaniell-nv
This certainly clarifies OpenGL support, thanks.

On the other hand, `EXT_texture_compression_rgtc` is defined also for OpenGL ES and was never merged into the GL ES spec. So technically, RGTC 2D arrays are still unsupported there.

[2020-01-22 19:13] pdaniell-nv commented on #349
The way the EXT_texture_compression_rgtc extension spec was updated to support OpenGL ES 3.2 should allow RGTC textures to be used as 2D arrays for OpenGL ES. All it did was add the RGTC formats to table 8.17. The existing language for glCompressTexImage3D allows any of those compressed texture formats to be used with 2D array targets.

You can ignore the unclear wording in issue 13 regarding 3D t

[2020-01-22 20:23] hanfling commented on #341
It wasn't my apple pc, but someone sending me a list of the specific extensions on his mac with intel/nvidia(?) graphics beeing used. I'll ask him which it was specifically, but it certainly was OpenGL 4+.

But it also matches this table: https://developer.apple.com/opengl/OpenGL-Capabilities-Tables.pdf where OpenGL versions 3.2 and above do not expose the GL_EXT_texture_sRGB extension anymore.

[2020-01-23 02:45] #350 closed

[2020-01-24 11:24] #351 closed

[2020-01-26 17:36] SunSerega opened #353 "[xml] missing <ptype> tags in <command>'s"
In `gl.xml` only `void`, `void*` and `void**` return and parameter types are not marked with `<ptype>`.
This is inconvenient, but at least consistent.

But in other 2 files (`wgl.xml`, `glx.xml`) - `<ptype>` tag is missing for most (in not all) of the `int`, `float`, etc. parameters.

[2020-01-26 17:45] SunSerega commented on #353
Unfortunately only after posting i realized i should only check .pdf:

in <type> tag, and indicates that this type must be previously defined for the
definition of the command to succeed. Builtin C types, and any derived types
which are expected to be found in other header files, should not be wrapped in
<ptype> tags

Still, `<ptype>` is usefull for creating wrappers in languages other then C++.

[2020-01-26 18:28] SunSerega commented on #353
Also, there is one function in glx.xml:
[code]
`GLint` is a gl type, so it supposed to have `<ptype>` tag, right?
And should i make separate issue for this?

[2020-01-26 18:48] Perksey commented on #353
Having wrote roughly 4 parsers of the gl.xml for .NET-based languages, I can safely say that it is clearly not intended to work well with other languages. It is possible, just very hard. The XML schema likely won't change to reflect this as the schema is well-established with the current command type format, and other languages aren't really a concern for Khronos.

Side note: I believe the old sch

[2020-01-26 19:32] SunSerega opened #354 "[glx.xml] missing <ptype> for parameter of glXSet3DfxModeMESA"
<command>
        <proto><ptype>GLboolean</ptype> <name>glXSet3DfxModeMESA</name></proto>
        <param>GLint <name>mode</name></param>
    </command>
`GLint` should be wrapped in `<ptype>` tag.

[2020-01-26 19:48] SunSerega commented on #353
I think problem isn't that its unintended, but mostly that there is no one testing and reporting little details.

[2020-01-26 20:01] SunSerega opened #355 "[xml] MaterialFace group used but not defined"
[code]
(this is only one of functions using `MaterialFace`)

There is an actual group (which is deprecated) `MaterialFace`:
[code]
And there is `ColorMaterialFace` group (which is properly defined):
[code]

[2020-01-26 20:16] SunSerega opened #356 "[xml] ColorTableParameterPNameSGI group used but not defined"
[code]
(this is only one of functions using `ColorTableParameterPNameSGI`)

I think these are the enums that should be passed as `ColorTableParameterPNameSGI`:
[code]
But this info should be further checked before applying it.

[2020-01-26 20:22] SunSerega opened #357 "[xml] IglooFunctionSelectSGIX group used but not properly defined"
[code]
There is only commented out group defined with depricated syntax:
[code]
I understand that `SGIX_igloo_interface` is not just internal, but also deprecated extension.
But `IglooFunctionSelectSGIX` group is used by function xml, so it still need's to be properly defined in same xml.

[2020-01-26 20:27] SunSerega opened #358 "[xml] TexBumpParameterATI group used but not defined"
[code]
(this is only one of functions using `TexBumpParameterATI`)

`TexBumpParameterATI` is only defined in deprecated syntax:
[code]

[2020-01-26 21:03] Perksey commented on #353
Not having tags around `void` is definitely intended. All other types are intended to be `<ptype>` to my knowledge.

[2020-01-26 21:24] Perksey commented on #358
Thanks for reporting this! We always welcome PRs to help improve and maintain the correctness of the new-syntax groupings. If not done by a community member, this will be included next time we have a group sprint here at Ultz.

[2020-01-26 21:25] Perksey commented on #357
I think the best solution here is to comment out all remnants of that extension entirely, or remove the group attributes from the parameters.

[2020-01-26 21:25] Perksey commented on #356
Thanks for reporting this! We always welcome PRs to help improve and maintain the correctness of the new-syntax groupings. If not done by a community member, this will be included next time we have a group sprint here at Ultz.

[2020-01-26 21:26] Perksey commented on #355
Thanks for reporting this! We always welcome PRs to help improve and maintain the correctness of the new-syntax groupings. If not done by a community member, this will be included next time we have a group sprint here at Ultz.

[2020-01-26 21:51] SunSerega commented on #353
was directed to

---

They are both currently intended because it's documented in ReadMe.pdf file, which can be found in same folder as .xml's. I already posted quote in second comment here.

What i'm asking is slightly changing .xml structure.
Adding new tag should break anything, because any good XML parser (like `System.Xml.XmlDocument` in .Net, which is what i'm currently using) is gonna remov

[2020-01-26 22:06] SunSerega commented on #358
You didn't really need to send this 4 time (although i'm kinda concerned if it would be better to have a single issue describing all 4 groups). I have github mail notifications on, besides generally liking to check myself for things i participated it.

About PR's - it's a bit more work for me (though, i would done it if this is only intended way of reporting about this). And it looks to me like us

[2020-01-26 22:09] Perksey commented on #353
I don't think adding a new element type `ntv_ptype` nor readding the void ptype will fly with the working group as this reverts a decision they've already made.

If your proposal is that all non-void types should be marked with `ptype` then I 100% agree.

[2020-01-26 22:16] SunSerega commented on #353
I personally don't care that much about `void`, if it's:
- The only type to not have a tag.
- And this behavior is reflected with clear language in pdf.

[2020-01-26 22:16] Perksey commented on #358
Ultz is the company backing Silk.NET - a bindings library to OpenGL(ES) for .NET Standard. Occasionally @frederikja163 or myself (but normally Fred) will implement a spree of group fixes and PR them back in, hence the name "group sprint".

[2020-01-26 22:18] Perksey commented on #358
I personally strive to review in-detail each PR affecting the groupings.

[2020-01-26 22:21] SunSerega commented on #353
And i would be okay with any tag for non-void types, as long as it's also consistent. I proposed having separate `<ntv_ptype>` tag only because currently .pdf clearly sais that all types marked with `<ptype>` are also defined in same .xml file. And so theoretically using `<ptype>` for build-in types could break some code using said .xml's.

[2020-01-26 22:33] Perksey commented on #353
Ah ok. All `ptypes` should only reference defined types in the `types` section at the top of the file, so if another type is referenced that's probably in error.

Please change the issue title to `Document void types not having ptypes` or something of that essence and then wait for comments from @oddhack.

[2020-01-26 22:47] SunSerega commented on #353
It does look documented to me (though maybe not as clear as it could be). And there is just more to decide about (like making separate issue for non-void types, i was thinking about that too).

So i would prefer to first wait for response from someone actually responsible for this repository (which if i understand right - only regards @oddhack).

[2020-01-27 01:46] SunSerega opened #359 "[xml] FfdMaskSGIX group used but not properly defined"
[code]
(this is only one of functions using `FfdMaskSGIX`)

[code]
`<enum>` tags should have same `group` attribute `<enums>` tag already has.

[2020-01-27 01:55] SunSerega opened #360 "[xml] Unused groups"
Here is list of all groups, which are defined using `group` attribute on `<enum>` tag, but aren't used:
[code]
I didn't check anything other then `group` attributes of `<proto>` and `<param>` tags in `<command>` tag. But if i understand correctly - there is no other use for it. Please correct if i'm wrong.

[2020-01-27 02:09] SunSerega commented on #360
And now i actually used notepad++'s search - there is certainly no use of these groups, at least in .xml files.

[2020-01-27 02:15] SunSerega commented on #360
But still, some more investigation needed...

For instance `GetPixelMap` is pretty weird. It's not used, but there are also `glGetPixelMap{f,ui,us}v` commands required in OpenGL1.0 `<feature>` tag, which it was probably used for. But there is no `<command>` tag linked to that in actual `<commands>` tag.
So here problem is probably in missing command, not unused group.

And this is just one randoml

[2020-01-27 02:22] SunSerega commented on #357
I would prefer to have all remains commented out, over leaving `<ptype>GLenum</ptype>` parameter without group attribute.

But i don't think it would hurt to still support this extension.

[2020-01-27 02:40] SunSerega opened #361 "[xml] enum parameters in <commands> without group attribute"
There are 259 of these:
[commands with enum without group.txt](https://github.com/KhronosGroup/OpenGL-Registry/files/4115325/commands.with.enum.without.group.txt)
(i account parameters with `GLenum` and `GLbitfield` types)

I'm not entirely sure if it's worth fixing, with it's scale. Because it can't really be full automated, someone needs to check every function individually.

But i guess it shou

[2020-01-27 06:21] oddhack commented on #353
These tags are intended to be used to satisfy dependency walking for the C header generation. They were not inserted with other languages in mind. So a GLboolean or GLint type gets tagged and the generator scripts follow the dependencies down to the point where a typedef for the underlying C language type is generated, like the

```<type>typedef int <name>GLint</name>;</type>```

definition near t

[2020-01-27 06:24] oddhack commented on #354
Closed by 2223f5bebde4aa6b170fb32cdaaf580703fddb67 (which was mis-labelled as closing issue 22).

[2020-01-27 06:24] #354 closed

[2020-01-27 06:24] oddhack commented on #22
Ignore bogus extra autoclose above.

[2020-01-27 06:25] oddhack commented on #355
I'm just going to assign this and similar to @Perksey since you're stepping up to volunteer - thanks.

[2020-01-27 06:29] oddhack commented on #357
This is an ancient SGI extension kept around for historical completeness. It was actually not intended for use by anything but Igloo, SGI's Iris GL -> OpenGL translation layer, and exceedingly unlikely to be supported by anything built in the last decade. There is no harm in un-commenting the enums for this private extension although very little utility either - it's really just there in case for

[2020-01-27 06:34] oddhack commented on #358
My vague recollection is that ATI (now AMD) stopped supporting that extension many years ago. I think it was a very early fixed-function lighting and shading interface that stopped making sense as soon as people started writing OpenGL 2.0 era shader programs. Again it can be supported but is of little relevant.

Structurally the right way to deal with this stuff would be to identify extensions tha

[2020-01-27 06:39] oddhack commented on #360
I'm not sure exactly what you're saying here. There are definitely GetPixelMap*iv \<command> tags, and they are definitely referred to from the GL_VERSION_1_0 \<feature> tag (and also from the core/compatibility bifurcation that happened later on, since they are compatibility profile interfaces).

It may be that some of the group definitions ended up being unreachable due to changes to the tagging

[2020-01-27 06:40] oddhack commented on #361
This is something @Perksey might pick up as part of the improvements they've been working on.

[2020-01-27 10:13] SunSerega commented on #360
I'm talking about other `<command>` tag, the one containing `<proto>` and `<param>` tag. This one is missing.

If i understand right - for every `<command>` tag in `<feature>` tag - there should be `<command>` tag in `<commands>` tag. I don't see .pdf saying anything about this though.

[2020-01-27 10:17] SunSerega commented on #358
Yes, sounds right to me. Expect "deprecated" sounds like a thing that *would* be removed, not something already fully unsupported, so it's better to use something else.

[2020-01-27 10:32] SunSerega commented on #357
Well, as i said - i already read that it's internal and deprecated before posting. But still posted for completeness sake. The fact that group can be used, but not defined is not documented in .pdf, and sounds too wrong to be documented.

But it should be okay to mark the extension being dead as you said in #358, and then leave `<ptype>GLenum</ptype>` without group attribute. Because dead extensio

[2020-01-27 10:46] SunSerega commented on #353
You mean, to only put in .h types that are necessary for selected OpenGL version?

And what do you think about adding new tag, like `<ntv_ptype>` i described higher?

[2020-01-27 12:46] oddhack commented on #360
They should be present, starting at line 19170 of the current gl.xml - do you not see them in your view of the repo?

[2020-01-27 13:27] SunSerega commented on #360
Oh, now i see them... I was probably too sleepy when checked it. I also looked at search history in notepad - it was also there when i first checked.

[2020-01-27 17:43] Perksey commented on #353
Aha allow me to step in. Feel free to use the [Silk.NET BuildTools](https://github.com/Ultz/Silk.NET/tree/master/src/Core/BuildTools) as a reference - it's MIT so don't worry about licenses. Not everything will be transferrable, as this targets C# using a very specific solution for dynamic loading, but you can take a look at it and see what you can salvage. Note that this hasn't been updated to us

[2020-01-27 17:45] Perksey commented on #361
Ah, thanks for the ping. I'll add this to the list 👍

[2020-01-27 17:49] Perksey commented on #357
I think this is probably the best solution

[2020-01-27 17:53] Perksey commented on #358
There is already a `disabled` api but I don't think "dead" extensions are a place for them, and they do deserve their own group like `deprecated` api. Then again, they both serve the same purpose but I still think unsupported extensions should be set aside from extensions that shouldn't be used (like the experimental NVIDIA extensions currently residing in the disabled group)

[2020-01-27 17:55] Perksey commented on #355
Ah no problem, I do my best to try and help out with the GL spec as I'm a prominent stakeholder for it, so I have no problem tackling issues such as these.

[2020-01-27 18:04] Perksey commented on #360
With this regard, I intend to publicize our GLSpecTools which we've developed and used internally as part of our ongoing effort to help ensure group correctness, perhaps as a pull-request check idk I'll have to have a chat with oddhack about that at some point when I have a bit more time.

I'll try and get a conclusive list of unused groups, ungrouped enums, and functions not using group tags at s

[2020-01-27 19:06] Perksey commented on #335
I think we should allow around anywhere from 6 months to 1 year before we remove the old syntax to allow downstream dependencies in active development to adapt to the new syntax. Any project that doesn't update their copy of the spec within a year is probably dead anyway.

[2020-01-30 22:03] SunSerega opened #363 "[xml] glGetString commands use "GLubyte*" instead of "GLchar*" for strings"
[code]
(these are only 2 functions, using `GLubyte*` as string)

Type `GLchar` is already defined and used by some extensions.
And it makes much more sense in this context, then `GLubyte` with `group="String"`.

[2020-01-30 22:12] SunSerega commented on #318
I think commands of non-depricated features and extensions should all have `group` for every `GLenum` and `GLbitfield`.
This fact isn't affected by how group are specified.

[2020-01-30 22:35] Perksey commented on #318
There isn't a lot of engineering effort going into the groups due to them not being used at all for Khronos purposes, bar Google's ANGLE project which is the only usage I've seen by a member of Khronos. As such, all group improvements need to be done by community members. I am currently the volunteering group maintainer as it were, and I do intend to improve the groupings as part of my [Silk.NET](

[2020-01-31 00:08] SunSerega commented on #318
Strong requirement isn't really possible, at least because there are some extensions which aren't even properly documented, so no one can know which enums can be passed in that extension's commands.

I'm only talking about keeping this issue open until someone like you and me would find time to create groups for all non-deprecated commands.

[2020-01-31 07:59] Perksey commented on #318
There is little to no chance that anyone will be able to create groups for
a 27 year old monolithic spec such as this, so I wouldn’t count on it and
I’m having a hard time not being pessimistic about the groups.

Im sure it’s fine leaving the issue open but the problem is it may never
get closed.

On Fri, 31 Jan 2020 at 00:08, Sun Serega <notifications@github.com> wrote:

[2020-01-31 22:34] SunSerega opened #364 "[xml] Commands added in multiple versions of "gl" api"
[code]
Note, i'm not including `glGetPointerv` because it is properly specified to be deprecated in 3.2 and undeprecated in 4.3 .

I'm not sure about `glProgramParameteri` because both of it's additions are in the same version (4.1), in `<require>` tags which are next to each other :
[code]
It doesn't make it less uncomfortable to parse, but at least it's understandable: 2 separate extensions
 had

[2020-01-31 22:46] Perksey commented on #364
This is a non-issue in most cases, but it is entirely possible that these functions were redefined for clarity purposes, or some other reason. It makes so difference for literally every parser out there, but if you really want something done about it I suggest you PR it in.

[2020-01-31 23:58] SunSerega commented on #364
In my current parser i check everything which can be wrong or at least unexpected. That's how i found all previous issues.

The basic rule is - there should be programmable explanation with no exception for everything. Or in other words - nothing hardcoded. And for now it works with surprisingly little amount of problems. Only thing left without checks is extensions.

There isn't any comment about

[2020-01-31 23:58] SunSerega commented on #364
In my current parser i check everything which can be wrong or at least unexpected. That's how i found all previous issues.

The basic rule is - there should be programmable explanation with no exception for everything. Or in other words - nothing hardcoded. And for now it works with surprisingly little amount of problems. Only thing left without checks is extensions.

There isn't any comment about

[2020-02-01 11:22] Perksey commented on #364
If this issue is a major issue for you I advise you wait for comments from a spec editor. Thanks.

[2020-02-02 03:37] SunSerega opened #365 "[xml] Command glShadingRateImageBarrierNV added 2 times in GL_NV_shading_rate_image extension"
While there is what to argue about in #364 - this is clearly just a typo, because they both sit in same  `<require>` block and right next to each other:
[code]

[2020-02-02 12:28] Perksey commented on #365
Again, PRs please. They're the most productive way to get feedback on minor issues such as these.

[2020-02-02 16:14] tsuoranta opened #367 "Extensions registry could be externally (more) usable externally."
Extensions registry (`extensions/registry.py`) would be significantly more usable externally if it was data driven, for example, JSON formatted.

Fix proposal in #366 (done with a bunch of regex search and replaces).

My use case for extensions registry is that I want to be able to enumerate all extensions in C/C++, for the purpose of modifying glslang so that preprocessing and compilation could b

[2020-02-02 16:17] Perksey commented on #367
Same applies as in #366

[2020-02-03 12:06] tsuoranta opened #368 "GL_OES_tessellation_shader is missing GL_OES_tessellation_point_size alias"
In `extensions/registry.py` the extension `GL_OES_tessellation_shader` is missing `GL_OES_tessellation_point_size` alias.

[2020-02-03 13:37] oddhack commented on #368
Fixed, thanks.

[2020-02-03 13:37] #368 closed

[2020-02-03 13:39] oddhack commented on #363
The group will consider this, though it's unlikely we're going to change an actual API signature.

[2020-02-03 13:50] oddhack commented on #353
Mostly. The process of generating outputs is entirely dependency driven starting from a required set of versions and extensions, which in turn require commands and enums, and the command interfaces generally require GL data types.

We're not likely to do that. Something like @Perksey's comment seems appropriate for your use case, and hopefully their code would be helpful, too. I think this issue h

[2020-02-03 13:50] #353 closed

[2020-02-03 14:08] oddhack commented on #364
Some of the duplication has to do with internal documentation purposes for what extension(s) introduced certain interfaces when promoted, some of it probably dates back to the GL 3.0 / 3.1 core profile mess where things got taken out and put back in, and there are probably a few accidentally duplicated cases.

WRT processing the XML, the dependency-driven nature of it means that duplication is har

[2020-02-03 14:16] oddhack commented on #367
Literally the only thing registry.py is intended for is associating extension numbers and names with extension spec files, and generating PHP include files for the HTML extension list in the index. I think it would take about 15 lines of Python added to the script to generate JSON output as well as PHP and if you wanted to propose such an MR, I'd take it.

We don't have any commitment to keeping t

[2020-02-03 15:01] SunSerega commented on #364
I know, if i would to end being the one making PR - i would do proper research and report what i found.

But this issue isn't proposal (yet). It shows (to me or someone else who would like to make a PR) that something need's to be checked and maybe done.

[2020-02-03 15:42] SunSerega commented on #363
Can you explain in more details, what can be bad about changing signature in this way?

`GLchar` and `GLubyte` are synonyms in C++. And i think most of people are using `char*` as a type of strings they pass to API anyway. So this shouldn't break any existing C++ code.

And, as i said, there are other commands in .xml's, that are using `GLchar*` for string parameters. So this shouldn't break any c

[2020-02-03 17:21] Perksey commented on #363
Changing the signature will be a breaking change, while a beneficial one, a breaking change nonetheless. As you said, `GLchar` is the same as `GLubyte`, so all the group is likely to do is better define this as the case in the spec.

Chipping in my own opinion here, I do agree that `GLchar` is desirable but a breaking change is not desirable, but I do think the group should either use `GLchar*` or

[2020-02-03 17:26] Perksey commented on #364
I think this sums the situation up as I still strongly feel this is a non-issue.

[2020-02-03 17:27] Perksey commented on #367
Having it built into the XML would be cool, but it seems like a lot of engineering effort for little gain.

[2020-02-03 18:41] SunSerega commented on #363
Well it wouldn't be breaking but...

Just checked - they aren't actually same, `GLubyte` is `unsigned char`. And so this will not work without pointer cast:
[code]
Well, in that case i think it's understandable to not want to fix consistency. But, in that case there should be comment in .xml and something about this in spec.

As i said in first comment here - `glGetString` and `glGetStringi` are t

[2020-02-03 19:08] Perksey commented on #363
Gotcha. So all that's needed is some clarification I think and then this issue is resolved.

[2020-02-04 11:33] tsuoranta opened #370 "Some extensions use cp1252 / mac-roman encoding"
Fix proposal in #369

[2020-02-04 12:10] tsuoranta opened #372 "Extension EXT_primitive_bounding_box name string has white space"
I suppose this is just a typo?

Fix proposal in #371

[2020-02-04 15:59] tsuoranta commented on #367
I ended up scanning and parsing extension texts directly instead. Only the specification texts have information about GLSL extension directives introduced by extensions.

For now, I have no need to do anything about `registry.py`.

[2020-02-04 15:59] #367 closed

[2020-02-11 18:02] pdaniell-nv commented on #363
It's not clear to me where the proposed clarification should go. In the XML? @SunSerega do you have a PR in mind?

[2020-02-11 18:41] SunSerega commented on #363
Clarification should explain that while prototype shows that `glGetString` and `glGetStringi` return `GLubyte*` - this is an old typo, and they actually return `GLchar*`.

And no, i haven't yet thought about exact words for PR.

[2020-02-11 19:28] oddhack commented on #363
This is a spec issue, not XML. The utility of noting that there's something peculiar about the return type of a nearly 30 (?!) year old API seems  minimal to me, but we could put in a footnote.

[2020-02-17 21:46] Perksey commented on #372
This issue can be closed.

[2020-02-17 21:47] Perksey commented on #370
This issue can be closed. For future reference, a PR is normally sufficient and doesn't usually need an coinciding issue.

[2020-02-17 21:58] #370 closed

[2020-02-18 21:07] pdaniell-nv commented on #372
Closed. Thanks for the PR.

[2020-02-18 21:07] #372 closed

[2020-02-18 21:12] pdaniell-nv commented on #357
@Perksey I notice there are a bunch of issues you've added to your todo list. Shall I assign those issues to you?

[2020-02-18 21:12] Perksey commented on #357
Yeah that's probably best, thanks.

[2020-02-18 23:09] Perksey commented on #364
@pdaniell-nv I believe @oddhack deduced that this is a non-issue and as such a PR shouldn't be necessary.

[2020-02-18 23:32] SunSerega commented on #364
This was an explanation why it's harmless. Which i agree it is. But i don't see any explanation for why this *should* be a thing.

[2020-02-19 04:51] oddhack commented on #364
I don't know what to tell you other than that this is how we chose to do it.

[2020-02-19 05:11] SunSerega commented on #364
So wait, you did actually confirm that was a conscious choice and not just typo?

[2020-02-19 05:19] oddhack commented on #364
Put it down to quirks of the XML author if you must, but please close the issue and move on. This doesn't require any justification on our part and I don't want to spend any more time on it.

[2020-02-19 07:12] SunSerega commented on #364
This was originally target for small cleanup. But i see, i ended up arguing about it's legitimacy as an issue (i.e. problem). Sorry for taking your time on this.

I'm opened it here thinking about discussion with someone who can answer "why", so i better understand when (if) making PR. But i guess it wasn't even right to put it here, together with actual problems, just for that.

[2020-02-19 07:12] #364 closed

[2020-02-19 16:31] pdaniell-nv commented on #363
We discussed this in the OpenGL/ES working group meeting today. I learnt an interesting bit of history that gives some explanation as to why these functions have been specified this way. Way back in OpenGL 1.x days there were no functions which take a string from the application as input to the OpenGL implementation. For returning a string from OpenGL to the application there is "GLubyte * glGetSt

[2020-02-19 17:12] Perksey commented on #364
I apologise if any of our comments have come across as argumentative, but there's been a lot of nitpicks (primarily from you, but some from others) on the spec lately and to be honest it's very hard to justify, explain, and/or enact changes into such a monolithic and ageing spec.

In this particular case, it was said a number of times from the start that this is a non-issue and no further attentio

[2020-02-19 17:36] pdaniell-nv commented on #359
@Perksey I would like to assign this issue to you, but I can't until you make a comment. Can you add one? Thanks.

[2020-02-19 18:49] Perksey commented on #359
Boop :D

[2020-02-20 11:31] oddhack commented on #365
Agreed that's an actual typo.

[2020-03-05 19:57] nwnk opened #374 "Sharing between GLX contexts with different Displays: threat, or menace?"
This came up while investigating a possibly unrelated Mesa bug. Consider [the manywin demo](https://gitlab.freedesktop.org/mesa/demos/-/blob/master/src/xdemos/manywin.c), in which two windows are drawn to by two (sharing) contexts belonging to different Display connections to the same server - logically, from the server's perspective, to different _clients_. For direct clients this is a problem, t

[2020-03-06 12:12] Perksey commented on #361
After looking at this, I don't think this particular issue warrants a fix. It's too big of a job and involves changing a lot of historical content which likely is surrounded with lots of unknowns.

This issue may be closed as wontfix.

[2020-03-06 12:14] Perksey commented on #360
More or less a duplicate of #361 as the same principle, but we should keep this one open.

This sadly won't be fixed as part of my upcoming PR.

[2020-03-06 12:36] oddhack commented on #361
@SunSerega are you OK doing as @Perksey suggests above?

[2020-03-06 14:39] SunSerega commented on #361
Well. i'm okay with not fixing this from commands of deprecated extensions and such.

But from what listed here - some are from relevant extensions. And some are from core.

Maybe it makes sense to break this issue in multiple once, so that core can be fixed with more priority?

And about extension once - i think, for it to be manageable, .xml first need to have a way to mark extension as non-rele

[2020-03-06 16:24] Perksey commented on #361
Groups are not, and should not, be a requirement for the entirety of the gl.xml and are really just niceties left over from the demise of Silicon Graphics. As such, unless you personally intend to fix this issue, I don’t advise taking this further.

[2020-03-06 18:03] SunSerega commented on #361
I'm not saying they are required for C/C++ gl header generation. And so i'm not implying in any way that khronos needs to deal with this. Group are needed only for high lvl languages binding, so, obviously, this issue should be dealt by someone who does this kind of binding.

Do you think that because it's not required for what khronos directly manages - this is not a place to make such issues? Do

[2020-03-06 18:38] Perksey commented on #361
I wasn't saying they're required for C/C++ GL header generation, I was saying they aren't required at all and Khronos acknowledges this. I maintain an OpenGL bindings library for C# (a high-level languge) and in almost every case groupings are a nicety and not a requirement - just have one big GLenum like C/C++ do and like most bindings do.

Also, if it's too big of a job for us, it is too big of

[2020-03-06 20:44] nwnk commented on #374
Yeah, I wouldn't want to claim it's disallowed since clearly it's in use. I'd probably be happy with a note that clarifies that different display, including different connection to same display, is among the possible causes of a BadMatch.

[2020-03-07 10:50] SunSerega commented on #361
It would clearly be less effort then when i parsed specs and manually created groups, being unaware of .xml's. And i'm saying that breaking up into smaller jobs will help because it only seem big and scary right now, while it's a monumental list of 200+ commands.

But, again, i would do it even if you think it's too big of a job even after it's made into a structured task.

Well yeah, if i would a

[2020-03-08 08:31] Dav1dde opened #376 "License of generated code"
I am the maintainer/author of [glad](https://github.com/Dav1dde/glad/), a code generation tool which uses the specs to generate Code for multiple languages, C/C++, Nim, Volt, D, Rust etc.

Now the issue has come up multiple times what license the generated code has:

* https://github.com/Dav1dde/glad/issues/101
* https://github.com/Dav1dde/glad/issues/253

To summarize the specs are Apache v2 lice

[2020-03-08 16:22] Dav1dde commented on #376
@oddhack thanks for the quick response, this is good to hear and aligns with what I thought/hoped.
I'll update my LICENSE/COPYING and readme to reflect this.

[2020-03-08 16:22] #376 closed

[2020-03-08 21:35] Perksey commented on #376
Another interesting point (that doesn't necessarily need an answer, just something to think about): does Khronos even have the grounds to change the license for something like gl.xml? A file that has received many contributions from external contributors without any formal contribution license agreement assigning all IP to Khronos - theoretically you'd have to get every single contributor to agree

[2020-03-11 01:23] #355 closed

[2020-03-11 01:23] #356 closed

[2020-03-11 01:23] #357 closed

[2020-03-11 01:23] #358 closed

[2020-03-11 01:23] #359 closed

[2020-03-24 17:49] pdaniell-nv commented on #374
@nwnk is this something you can propose a PR for?

[2020-03-29 00:11] hanfling opened #385 "Typo in ARB_copy_image"
Dependencies on OpenGL 4.2 and ARB_texture_compression_bptc:

	    If OpenGL 4.2 or later, and ARB_texture_compression_bptc is not
	    supported, remove any references to the PBTC compressed texture
	    formats.

This should be BPTC instead of PBTC.

Btw. what does BPTC actually stand for? Block Partition Texture Compression?

[2020-03-29 02:29] hanfling opened #386 "Typo in ARB_shader_storage_buffer_object"
Modify Table 6.71, Implementation Dependent Aggregate Shader Limits (cont.), p. 575

	    Get Value                         Type  Get Command    Minimum Value  Description                Sec.
	    -----------------------           ----  -----------    -------------  -------------------------  -----
	    MAX_COMBINED_SHADER_OUTPUT   _    Z+    GetIntegerv    8              limit on active image

[2020-03-29 14:05] Perksey commented on #386
Hey there! :wave: Thanks for reporting issues with the OpenGL registry! For minimal errors (such as these typos) we recommend opening a pull-request as it's the most productive way to get these errors fixed and in the spec, and/or comments regarding the issue. Thanks in advance!

[2020-04-06 17:07] hanfling commented on #386
Okay here we go: https://github.com/KhronosGroup/OpenGL-Registry/pull/387

[2020-04-06 17:14] hanfling commented on #385
https://github.com/KhronosGroup/OpenGL-Registry/pull/388

[2020-04-07 18:11] Perksey commented on #386
This issue, along with #385, can now be closed

[2020-04-07 22:57] hanfling commented on #386
Okay, I will try to remember this for future.

[2020-04-07 22:57] #386 closed

[2020-04-07 22:58] hanfling commented on #385
Merged.

[2020-04-07 22:58] #385 closed

[2020-04-08 13:23] helixd-2k18 opened #389 "GLSL_EXT_ray_query in OpenGL 4.6 ?"
I would like to make a request for OpenGL Ray Query, and there are several reasons for this.

- Availability of wrappers, libraries, OpenGL emulators based on DirectX 12 or Vulkan API.
- Ray Query is simple in that it can be supported with Compute and Fragment shaders.
- Also, `GL_KHR_shader_subgroup` from the Vulkan specification has recently been added.
- The presence of `VK_KHR_ray_tracing` and

[2020-04-09 20:20] Perksey commented on #389
Currently, to my knowledge there's no intention to champion driver-accelerated ray-tracing in OpenGL like DirectX and Vulkan have. Wrapper vendors who wish to provide this are always welcome to provide their own extensions in the registry (raytracing in Vulkan was originally a NVIDIA-only extension called `NV_ray_tracing`) though I'm not sure if you have to be a conformant wrapper and/or Khronos m

[2020-04-10 02:21] nwnk commented on #389
Anyone can define a GL extension, conformance isn't an issue in that sense. Conformance covers those features defined in OpenGL itself, or in KHR/ARB/OES extensions (I believe, don't quote me, not a Khronos spokesperson here).

If you want to start a draft extension spec for how you would imagine the ray tracing API to work in OpenGL, please do. If you want to go really wild, you could sketch out

[2020-04-13 21:35] Perksey commented on #389
Would be cool to get some clarification as to whether anyone (i.e. not just Khronos members) can define OpenGL extensions and reserve blocks etc.

But as for the actual topic of this issue, I presume this can either be closed or perhaps moved to OpenGL-API (where I predict a similar feature request will reside)

[2020-04-14 00:02] oddhack commented on #389
We aren't going to hand enum ranges out without any justification at all, but if they're a bona-fide implementer, or an ISV working with an implementer, no problem. If someone is creating an extension spec speculatively and has no way to implement it, they should use tokens in the "experimental" range until and unless they can work with an implementer.

Broadly speaking, people who aren't IHVs or

[2020-04-14 17:27] pdaniell-nv commented on #389
Regarding the original question in this issue. NVIDIA have no plans to expose ray tracing, or ray queries, as an OpenGL extension. All ray tracing development for a Khronos open standard will be done in Vulkan: https://www.khronos.org/blog/ray-tracing-in-vulkan. OpenGL applications can take advantage of ray tracing in Vulkan by way of the [GL_EXT_external_objects](https://www.khronos.org/registry/

[2020-04-15 02:45] mrmsbarnes opened #391 "https://www.opengl.org/documentation/ links "OpenGL 3.3" to 4.5"
You should say there is no 3.3 documentation.  THERE'S NO 3.3 DOCUMENTATION???  Say it isn't so.  Many of us have grown to love 3.3, but we still want documentation somewhere.

[2020-04-15 04:17] pdaniell-nv commented on #391
You can find the OpenGL 3.3 specification in the [OpenGL Registry](https://www.khronos.org/registry/OpenGL/index_gl.php). As for the reference pages, you're right that the OpenGL 3.3 link just references the OpenGL 4.5 reference pages. Since OpenGL 3.3 is a subset of OpenGL 4.5, and each reference page indicates which version of the specification the token is available in, you should have everythi

[2020-04-15 12:50] Perksey commented on #391
This isn't an official Khronos website, but http://docs.gl/ probably has what you're looking for. As for the old opengl.org website, it doesn't look like it has a repo (otherwise I would've directed you there as this isn't really the correct repo to report this issue in)

In any case, as @pdaniell-nv was saying the OpenGL Refpages (marked as `gl4`) has what you need and covers all OpenGL versions.

[2020-04-16 07:08] YunHsiao opened #392 "std140 layout doesn't specify the total memory consumed"
All specifications regarding `std140`, a supposed-to-be cross vender memory layout, seems to have no mentioning of how much memory should be allocated in total say for a given UBO (i.e. `UNIFORM_BLOCK_DATA_SIZE`) like this:
[code]
And in fact there has already been different interpretations over implementations, see the discussion [here](https://bugs.chromium.org/p/chromium/issues/detail?id=988988

[2020-04-21 19:13] pdaniell-nv commented on #389
I don't think there is anything else to say on this issue. Closing.

[2020-04-21 19:13] #389 closed

[2020-04-21 19:14] pdaniell-nv commented on #391
Closing.

[2020-04-21 19:14] #391 closed

[2020-04-24 13:27] Perksey commented on #363
See #396 which closes this issue.

[2020-04-29 16:07] tsuoranta opened #403 "gl.xml enum group fixes"
- GL_TEXTURE_LOD_BIAS is missing from SamplerParameterF enum group
- GL_TEXTURE_BUFFER is missing from TextureTarget enum group
- GL_MAX_TESS_CONTROL_UNIFORM_BLOCKS is missing from GetPName enum group
- GL_MAX_TESS_EVALUATION_UNIFORM_BLOCKS is missing from GetPName enum group
- GL_CONTEXT_PROFILE_MASK is GetPName is missing from GetPName enum group

These have supposedly harmless fix proposals in

[2020-04-29 16:11] tsuoranta opened #404 "Can we replace use of VertexBufferObjectParameter enum group for buffer queries in gl.xml?"
VertexBufferObjectParameter is used as enum group for buffer queries for example.
There are many other buffer types, so I would like to use BufferPNameARB instead.
Is there harm if we do this change?

Also, for pointer queries, BufferPointerNameARB would be correct.

Fix proposal in #400.

[2020-04-29 16:14] tsuoranta opened #405 "Can we replace use of GlslTypeToken enum group in GetTransformFeedbackVarying() / gl.xml?"
`glGetTransformFeedbackVarying()` uses incorrect `GlslTypeToken` enum group for `type` parameter.
I would prefer to use `AttributeType` enum group.

Fix proposal in #401

[2020-04-29 16:18] tsuoranta opened #406 "Can we use strong vertex attrib pointer type enum groups?"
`glVertexAttribIPointer()` and `glVertexAttribLPointer()` currently use generic `VertexAttribPointerType` enum group for type parameter.
This generic group contains types such as float which are not allowed for these functions.
Can we use strong enum group types `VertexAttribIType` and `VertexAttribLType` instead?

Fix proposal in #402

[2020-04-29 20:38] Perksey commented on #404
No need to open an issue when you already have a PR open, just do a description of the change in the PR itself - that way there's less bloat!

Will look at your PRs now

[2020-04-30 08:21] tsuoranta commented on #404
If you have mentioned this to me before, I have missed it, so good thing you mentioned it now. I will use PR only in the future. Thanks!

[2020-05-06 00:25] mrmsbarnes commented on #391
thank you both.

[2020-05-07 13:34] #363 closed

[2020-05-07 13:54] oddhack commented on #406
Closed by #402.

[2020-05-07 13:54] #406 closed

[2020-05-07 13:54] oddhack commented on #405
Closed by #401.

[2020-05-07 13:54] #405 closed

[2020-05-07 13:55] oddhack commented on #404
Closed by #400.

Also, I believe that if you put e.g. "Fixes #404" as a standalone comment in an MR like #400, accepting that MR will auto-close the issue (I know gitlab does this, not certain about github).

[2020-05-07 13:55] #404 closed

[2020-05-07 13:56] oddhack commented on #403
Fixed by #397, #398, #399.

[2020-05-07 13:56] #403 closed

[2020-05-07 14:27] Perksey commented on #404
Yeah, if you put "closes #0" in the description issue 0 will automatically be closed upon merge.

[2020-05-09 15:51] Perksey commented on #335
It's been a fair few months since the change was introduced and I think it's been a success - many thanks to Qualcomm for being a pioneer of this new system (which is exactly what I'd hoped to get out of this change: making it easier for official authors to introduce groups rather than them having to go far out of their way to introduce them)

The next step would be announcing an official removal

[2020-05-09 20:16] Dav1dde commented on #335
Glad has support for the new attributes, not much of a big change since I did not use them for codegen previously.

[2020-05-11 08:12] frederikja163 commented on #335
OpenTK is using a fork of the spec for our current code generation, and our upcomming code generation is using the new onees, so not a big bias from here

[2020-05-15 16:46] shadeslayer opened #408 "GL_ARB_buffer_storage spec ends error description mid way through a sentence"
When describing the error conditions in the GL_ARB_buffer_storage spec, this sentence ends half way through.

[code]

I guess it should read

[code]

[2020-05-15 17:42] Perksey commented on #408
Aha that's hilarious! Feel free to open a PR for issues like these with your suggested edits as pull requests are the most productive way to get feedback and opinions on small things like these.

[2020-05-22 12:58] #408 closed

[2020-06-08 20:52] 3b commented on #335
cl-opengl is OK with switching to group attributes, We are using a fork temporarily, and will switch to new format before next update (if I have any changes that need pushed upstream, I'd probably rather make them to the new format anyway).

[2020-06-09 17:32] duzenko opened #410 "Missing PDF for OpenGL 1.1"
This web folder has PDF's for all versions except 1.1
https://www.khronos.org/registry/OpenGL/specs/gl/
There's a .ps file but it's not web-friendly

Please add a .pdf version. An example conversion is here:
https://drive.google.com/file/d/1GpaQq0dOvuOcjTVBZ8afaxMAz3xckKCS/view?usp=sharing

[2020-06-09 19:30] pdaniell-nv commented on #410
I'm not sure why the registry is like this, but @oddhack would know.

[2020-06-10 03:56] #410 closed

[2020-06-10 03:57] oddhack commented on #410
Nobody complained for 20 years so nothing was done until now.

[2020-06-10 07:15] duzenko commented on #410
Thank you :)

[2020-07-20 03:12] ShabbyX opened #413 "Aliasing glRenderbufferStorageMultisampleEXT and glRenderbufferStorageMultisample is wrong for GLES"
See the discussion in #258.

In desktop GL, `glRenderbufferStorageMultisampleEXT` introduced the functionality that would later become `glRenderbufferStorageMultisample`. Thus the latter is specified as an alias of the former.

However, in GLES, `glRenderbufferStorageMultisampleEXT` is part of `GL_EXT_multisampled_render_to_texture` and its semantics are not the same as `glRenderbufferStorageMulti

[2020-07-20 03:17] ShabbyX commented on #413
Looking at `glwInitExtES.inl` from VK-GL-CTS:

[code]

It looks like part of the solution would be to apply this diff:

[code]

This can either be done by some new annotation in `gl.xml` to specify that the alias is only for desktop GL, or a special-case in the script that generates this file from that.

Given that mobile vendors do support `GL_EXT_multisampled_render_to_texture`, I suspect there

[2020-07-31 16:36] ShabbyX commented on #413
The script that generated this was in VK-GL-CTS itself. Will be fixed there.

[2020-07-31 16:36] #413 closed

[2020-08-01 10:15] TimeToWakeUp opened #417 "question about GetActiveUniformBlockiv in gles spec3.2"
Hi, I have a question about GetActiveUniformBlockiv api. In gles spec3.2, the input parameter pname of GetActiveUniformBlockiv can be set to UNIFORM_BLOCK_REFERENCED_BY_TESS_CONTROL_SHADER, UNIFORM_BLOCK_REFERENCED_BY_TESS_EVALUATION_SHADER and UNIFORM_BLOCK_REFERENCED_BY_GEOMETRY_SHADER, but why did I not find the values of the UNIFORM_BLOCK_REFERENCED_BY_TESS_CONTROL_SHADER, UNIFORM_BLOCK_REFERE

[2020-08-01 16:38] Perksey commented on #417
These enumerants are not included in the OpenGLES profile. Ensure you're using the correct documentation as the OpenGLES 3.2 Reference Pages don't seem to reference those enumerants at all.

https://www.khronos.org/registry/OpenGL-Refpages/es3/html/glGetActiveUniformBlockiv.xhtml

[2020-08-03 01:38] TimeToWakeUp commented on #417
I'm pretty sure I'm using the right documents, the link to the document is here.
https://www.khronos.org/registry/OpenGL/specs/es/3.2/es_spec_3.2.pdf
You can see these enumerants in this document.

[2020-08-04 19:46] Perksey commented on #417
On what page? They're not referenced by the XML or Refpages, and I'm not familiar with the PDF structure but a quick Ctrl+F didn't pull much.

[2020-08-04 20:12] pdaniell-nv commented on #417
I think it's on page 108 of the ES 3.2 spec. It's probably a simple mistake they're missing from the headers.

@TimeToWakeUp can you propose a fix?

[2020-08-04 21:45] dgkoch commented on #417
I don't think these were intended to be included in ES 3.2 since they were superseded by the program_interface_query variants.  The other stages had to continue being included for compatibility, but since TESS and GEOM shaders didn't exist in ES prior to ES 3.2 we opted to only add one way of querying information related to them.

[2020-08-05 15:30] pdaniell-nv commented on #417
This is being handled internally at https://gitlab.khronos.org/opengl/API/-/issues/130. Closing this dupe.

[2020-08-05 15:30] #417 closed

[2020-08-14 08:56] AlumiK opened #421 "Duplicate parameter names in api/GL/glcorearb.h"
https://github.com/KhronosGroup/OpenGL-Registry/blob/e00a4645698f53314002582c7f267bb73d1dcd38/api/GL/glcorearb.h#L5261-L5273

There are two parameters named `offset` in line 5263 and 5265, which breaks my project.

[2020-08-14 11:45] SunSerega commented on #421
Can confirm, breaks my bindings too. Looks like it these were added with new extension in https://github.com/KhronosGroup/OpenGL-Registry/commit/7b595e7097d523ff851aceb5edee7626b83f5194.

[2020-08-14 12:34] oddhack commented on #421
Ouch! Yes, NV and I should each have caught that. I am asking them to fix ASAP; in the meantime I disabled the extension so it doesn't show up in the headers. Apologies.

@cubanismo the extension is owned by you and Carsten Rohde; could you please own correcting the spec and XML so there aren't two parameters named 'offset'?

[2020-08-14 17:13] pdaniell-nv commented on #421
Sorry about that. Here is the fix: https://github.com/KhronosGroup/OpenGL-Registry/pull/422

[2020-08-24 18:54] SunSerega opened #426 "Making extension texts more uniform"
I finally made some time to deal with #361 and such. But it needs some preparations.
As i said in #361 - it makes sense to first un-consider irrelevant extension. And obviously, i want to at least somewhat automate this process.
I already have programs to data-scrap most of relevant here info, but they work in a lot of hacky ways, with a lot of ways for me to miss something. I think i can redo it

[2020-08-29 08:17] #421 closed

[2020-09-02 15:34] pdaniell-nv commented on #426
@SunSerega the working group is potentially open to this change, but we would like to see an example or two to make sure we agree on what the change will look like. Thanks.

[2020-09-02 17:14] Perksey commented on #426
Yeah it'd be cool, but if you're preparing to go down the line of parsing the extension specs then that's a slippery slope at best! But yeah, fixing some little structural issues would be neat, but if you could formalize the proposal similar to #335 then the working group can have a better grasp on what to review.

[2020-09-10 01:43] eddiesomar opened #429 "F"

[2020-09-10 02:09] #429 closed

[2020-09-15 20:05] pdaniell-nv commented on #339
Is this still an issue given all the XML changes from https://github.com/KhronosGroup/OpenGL-Registry/issues/335?

[2020-09-15 20:13] null77 commented on #339
Probably not. It's on us to switch to the new method so closing this out.

[2020-09-15 20:13] #339 closed

[2020-09-23 06:41] smartadpole opened #430 "Does OpenGL ES2.0 support math operation on negative"

[2020-09-23 14:39] Perksey commented on #430
This is an incredibly vague question and not directly related to the OpenGL Registry itself. I recommend redirecting your question over to https://community.khronos.org where most OpenGL usage questions get answered - this repository is primarily for architecting the OpenGL API and its specifications.

[2020-09-23 17:14] smartadpole commented on #430
thank you

[2020-09-23 17:14] #430 closed

[2020-09-26 15:23] Perksey commented on #335
Ok cool, in which case the assignee of this issue should probably change to whoever is going to decide on the date of the old block removal (as currently it's still assigned to me)

[2020-10-04 02:50] 3b commented on #335
`cl-opengl` is switched to new format, though still not released with either version of the new groups, since it is missing some group+enum combinations that affects existing code. working on that in #431.

[2020-10-04 14:08] Perksey commented on #335
Awesome!

[2020-10-14 11:01] AndrewLKA opened #434 "[gl.xml] Question about type sizes and the usage of (unsigned) int"
[code]
Shouldn't those be replaced with `khronos_int32_t` and `khronos_uint32_t` since OpenGL Specification says that those types should be exactly 32 bits while C and C++ specs makes it possible for those types to be 16 bits?

edit :
[code]
not sure about double either, maybe there should be some checks to check if double is exactly 64 bits?

[2020-10-14 19:53] Lokathor commented on #434
I thought so when writing my parser/generator for gl.xml, but I'm a Rust programmer not a C programmer, so I figured it was just some C obscurity I wasn't aware of and mapped it all to `u32` / `i32`.

[2020-10-14 22:46] oddhack commented on #434
I am not aware that anyone has ever tried to do a conformant OpenGL implementation on a platform with sizeof(int) != 4, but if a requirement emerges we'll deal with it at that time. LP64/LLP64 has ruled the world for many years and probably will for a long time to come.

[2020-10-14 23:26] oddhack commented on #426
IIRC somebody did something along these lines in a Google Summer of Code project a long time ago. It's very difficult to parse the arbitrary content in these documents though, and getting signoff from the many EXT and vendor extension owners effectively impossible.

[2020-10-14 23:27] oddhack commented on #426
In particular reformatting the documents stands a significant chance of screwing up things that are intended to be tables, equations, diagrams in ASCII text.

[2020-10-15 06:22] AndrewLKA commented on #434
I mean It looks very inconstant because other GL types do use the fixed size types
[code]
while those do not
[code]
so I was wondering if there is any reason behind this ? even though the OpenGL specification says that that have to be "**exactly**" specific sizes (so I guess it would makes more sense to use fixed size types?)

[2020-10-15 21:14] Perksey commented on #434
You're absolutely right, though a platform that doesn't use standard sizes for these types probably have other conformance issues waiting down the line. I'm not sure if this imposes a breaking change if PR'd in? (perhaps an ABI change but not one that will impact most users)

[2020-10-15 21:17] Perksey commented on #426
Oh boy I didn't even think of that.

[2020-10-16 05:52] SunSerega commented on #426
Well, that's part of the main question for which i made this issue.

I have backup ideas too... But did i understand right that NVidia extensions wouldn't need signoff's of every author, since @pdaniell-nv's comment?

[2020-10-16 14:39] Perksey commented on #426
Each extension has a main contact displayed at the top of the file who in an ideal world should sign-off significant restructurings.

[2020-10-17 04:53] AndrewLKA commented on #434
I guess I will just close the issue

"If it isn't broken don't fix it!"

[2020-10-17 05:07] #434 closed

[2020-10-18 15:35] Perksey commented on #434
Yeah leaving it be should be fine, as these types are pretty much always the size we expect. If a vendor experiences issues I guess we'll revisit but for now, as you said, if it ain't broke don't fix it!

[2020-10-19 22:25] pdaniell-nv commented on #426
I'm sure a lot of those main contacts are no longer relevant, especially for the very old extensions. Sadly there is no easy way to do this. Depending on what the changes look like the working group might be able to sign off for all of them. We would need to see some examples and discuss.

[2020-10-20 12:18] SunSerega commented on #426
Thanks for feedback!

I got distracted with a few things since asking this question. And yeah, i understand i should've posted example changes to at least a few files before asking it.

Anyway, i'll prioritize this when i have time again, maybe doing things in some different way.
If this issue is in the way - it can be closed it for now, i'll link it when making draft anyway...

[2020-10-28 06:31] #365 closed

[2020-10-31 14:15] Aetherbase opened #437 "basic opengl fuctions have been removed from GLext.h ."
Hello, i just noticed that basic functions glDrawArrays and glDrawElments have been removed from glext.h in the latest commit. how are the developers expected to go ahead with this?

[2020-10-31 14:27] oddhack commented on #437
Are you referring to https://github.com/KhronosGroup/OpenGL-Registry/blob/master/api/GL/glext.h ? If so, which version of it are you using that includes these commands? They're core GL 1.1 APIs and as such are expected to be found in the platform-provided gl.h, not glext.h.

[2020-11-06 12:54] Aetherbase commented on #437
I noticed this later. Thanks for the clarification. Closing.

[2020-11-06 12:54] #437 closed

[2020-11-16 13:44] null77 opened #443 "Duplicate entry in gl.xml - GL_EXT_separate_shader_objects"
See this code:

[code]

Here, `glProgramUniformMatrix4fvEXT` is listed twice. This EP does not depend on GLES 3.0 or the NV extension and should be removed from the second section.

[2020-11-16 19:10] Perksey commented on #443
Usually we're pretty fine with redefines if they serve some illustrative purpose, but I'd agree that this one should be rectified. Could just remove the second one?

[2020-11-19 08:30] #443 closed

[2020-11-21 14:34] frederikja163 opened #446 "glObjectPtrLabel inconsistensies"
The methods `glObjectPtrLabel` and `glObjectPtrLabelKHR` are inconsistent with whats defined in the documentation on several points.

[https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glObjectPtrLabel.xhtml](https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glObjectPtrLabel.xhtml)

ptr parameter is defined as const void* in the spec while its defined as void * (without the const)

[2020-11-21 16:15] frederikja163 opened #447 "glShaderBinary enum group missing"
`glShaderBinary` is missing any valid enums for the binaryFormat parameter for version 4.1-4.5
The method was added in 4.1 however enums were only added in 4.6.
Im willing to fix this, however i need to know how to fix this

[2020-11-21 16:18] #447 closed

[2020-12-03 17:27] Cyphall opened #450 "Registering EXT_texture_sRGB_RG8 for desktop OpenGL"
Extensions `EXT_texture_sRGB_R8` and `EXT_texture_sRGB_RG8` were initially created for OpenGL ES to add respectively 1-component and 2-components sRGB formats.

In 2018, `EXT_texture_sRGB_R8` was registered for desktop OpenGL.
However, up to this day, `EXT_texture_sRGB_RG8` is still not available on desktop OpenGL, which means we have 1, 3 and 4 components sRGB formats, but not 2 components.

Coul

[2020-12-03 18:20] Perksey commented on #450
Ah don't let being a student stop you with any of this, I was a student when starting to contribute to the OpenGL spec!

We'll likely need evidence of a desktop OpenGL driver implementing this extension before marking it as supported on OpenGL, so if you have that to hand that'd be great. If one of the big three supports it then it should be a pretty easy change.

[2020-12-03 18:56] dgkoch commented on #450
As @Perksey notes, there is no point in doing this unless someone is planning to support it.  It would also need to have interactions with the desktop specs added.

For NVIDIA we can't support it, otherwise we probably would have already done so.

[2020-12-03 18:57] Cyphall commented on #450
Wait, aren't the extension specifications coming first and only then the GPU manufacturers implement them in their driver?

I checked the support of the Vulkan equivalents (`VK_FORMAT_R8_SRGB` and `VK_FORMAT_R8G8_SRGB`) on [gpuinfo.org](https://gpuinfo.org/) and only the first is supported by Nvidia, while AMD support both of them.
Could there be hardware constraints on Nvidia GPUs?

[2020-12-03 19:03] Perksey commented on #450
EXT extensions are only registered once a vendor or two supports them. The textual specifications may be added beforehand as a draft but generally the XML isn't modified until a vendor supports, or is actively working to support the extension.

[2020-12-03 19:14] Cyphall commented on #450
According to [gpuinfo.com](https://opengl.gpuinfo.org/listreports.php?extension=GL_EXT_texture_sRGB_RG8), the extension `EXT_texture_sRGB_RG8` is supported by a lot of AMD GPUs on OpenGL Core (4.6).

[2020-12-03 19:42] pdaniell-nv commented on #450
NVIDIA can't support this, but considering AMD does, and potentially others could, it seems reasonable to me to register this in the OpenGL registry. AMD should have registered this before exposing it, but late is better than never. Someone will need to update the existing EXT_texture_sRGB_RG8 spec to add OpenGL interactions, similar to what was done in revision 4 of https://www.khronos.org/regist

[2020-12-03 19:54] Cyphall commented on #450
@pdaniell-nv Do you know the reason of why Nvidia cannot support this extension?
Linear RG and sRGB are both supported, and sRGB Red is too, so I'm very curious on why sRGB RG would not work.

[2020-12-03 19:58] dgkoch commented on #450
@Cyphall NVIDIA hardware doesn't support sRGB conversion on 2-component formats, so any support would need to be emulated.

I think the better question is - do you have a specific use-case for it?

[2020-12-03 20:04] nwnk commented on #450
Mesa doesn't expose this extension at all at the moment, but Mesa's software format code supports sRGB R8G8 sources, so we could certainly at least support it in softpipe. Adding it to llvmpipe and the meta drivers (virgl, zink, d3d12) is probably straightforward as well, and from a quick scan of the source it looks like we could wire it up for the panfrost, freedreno, and radeonsi drivers as well

[2020-12-03 20:10] Cyphall commented on #450
@dgkoch It was more for convenience of supporting any sRGB texture without wasting space (if I happen to come across greyscale-alpha textures, like a metal color texture that happen to be 100% gray).

As 1, 3 and 4 components are supported, I thought the 2 components sRGB format would already be supported by the hardware and the extension was simply forgotten when the 1 component sRGB one was adde

[2020-12-03 20:19] dgkoch commented on #450
You'd want an L8A8_sRGB format for that (which NVIDIA could support, if we don't already), because you don't want sRGB conversion on the Alpha channel.

[2020-12-03 21:01] Cyphall commented on #450
As I'm using swizzle for this case, I was hoping the swizzle would happen before the sRGB conversion (I didn't tested it yet).

There is a `GL_SLUMINANCE8_ALPHA8_EXT` in `EXT_texture_sRGB` but sadly, the term "luminance" being deprecated, this format is not available on OpenGL 4.6 Core (on my GTX 1070, atleast).

[2020-12-03 21:56] Perksey commented on #450
I suppose it's probably worth pinging someone from AMD in here as I'm not sure if there are any specific gotchas to be aware of. If it's pretty much the same as the R8 one, however, I think that's something I'll be able to get around to.

[2020-12-08 21:27] pdaniell-nv commented on #446
Can you be more specific what you mean by "spec" and "documentation" here. On page 558 of the OpenGL 4.6 spec (https://www.khronos.org/registry/OpenGL/specs/gl/glspec46.core.pdf) ptr is defined as "void *".

[2020-12-11 17:48] nwnk commented on #450
Went ahead and wrote this up for Mesa, should anyone be interested.

https://gitlab.freedesktop.org/mesa/mesa/-/merge_requests/8060

[2020-12-15 00:57] nwnk commented on #450
Nice! The mesa MR needs a bit more work to actually pass CI and get merged, once I have that working I’ll give the spec changes a once over, should be sometime this week if all goes well.

[2021-01-07 13:33] #450 closed

[2021-01-13 16:55] Khronoswebmaster opened #453 "Broken Links on 3 pages in OpenGL Registry"
There are 3 broken links on this page: https://www.khronos.org/registry/OpenGL/ABI/

- The [latest version of glext.h](https://www.khronos.org/registry/OpenGL/api/glext.h) is available in the registry.
- Likewise for GLX, a single header defining all GLX extensions, [glxext.h](https://www.khronos.org/registry/OpenGL/api/glxext.h), is required and is maintained centrally.
- The registry also contai

[2021-01-13 16:56] Khronoswebmaster opened #454 "Broken Links on 3 pages in OpenGL Registry"
There are 3 broken links on this page: https://www.khronos.org/registry/OpenGL/ABI/

- The [latest version of glext.h](https://www.khronos.org/registry/OpenGL/api/glext.h) is available in the registry.
- Likewise for GLX, a single header defining all GLX extensions, [glxext.h](https://www.khronos.org/registry/OpenGL/api/glxext.h), is required and is maintained centrally.
- The registry also contai

[2021-01-25 19:57] frederikja163 commented on #446
I was refering to the XML file, in there its defined as const void *

[2021-01-25 20:00] frederikja163 opened #455 "glPathGlyphIndexRangeNV has an *old*? syntax for constant size arrays '[2]'"
In the xml file `glPathGlyphIndexRangeNV` has a unique way of defining an array of constant length, Should this rather use the Len attribute? Or would such a change break anything on the C side, I know that it would be really handy for our bindings. Im happy to implement the change myself aswell.

[2021-01-25 20:43] Perksey commented on #446
That looks to be an error in the XML file then, but I fear it won't be able to be corrected for compatibility reasons.

[2021-01-25 20:46] Perksey commented on #455
Unfortunately the C header generator doesn't pick up on len! So while it's inconsistent with the XML file, this'll likely have to stay now it's shipped.

[2021-01-27 12:15] oddhack commented on #453
This should all be fixed now.

We should get rid of the ABI/ stuff. That's 20+ years old and irrelevant to modern Linux.

[2021-01-27 12:15] #453 closed

[2021-01-27 12:16] oddhack commented on #454
Duplicate of #453

[2021-01-27 12:16] #454 closed

[2021-02-01 19:43] frederikja163 commented on #455
If that dosent pick up on len how does it manage the other constant length arrays?

[2021-02-01 21:26] Perksey commented on #455
They're just pointers.

[2021-02-03 07:01] Lokathor opened #457 "GL_MAX_VARYING_COMPONENTS lists wrong alias string"
In the following entry, the alias value is wrong:
[code]

It should be `GL_MAX_VARYING_FLOATS` rather than `MAX_VARYING_FLOATS`

[2021-02-04 20:50] monacv opened #458 "ImportError: ('Unable to load OpenGL library', 'OSMesa: cannot open shared object file: No such file or directory', 'OSMesa', None)"
I am using:

`os.environ['PYOPENGL_PLATFORM'] = 'osmesa'`

How should I fix this error?
`
ImportError: ('Unable to load OpenGL library', 'OSMesa: cannot open shared object file: No such file or directory', 'OSMesa', None)`

I already have the following installed:
[code]

[2021-02-04 21:01] monacv commented on #458
[code]

[2021-02-04 21:01] #458 closed

[2021-02-05 13:36] Perksey commented on #457
Fully agree, PR would be appreciated.

[2021-02-17 06:40] pdaniell-nv commented on #457
@Lokathor are you willing and able to create a PR to fix this? It would be much appreciated. Thanks.

[2021-02-17 06:40] Lokathor commented on #457
Yeah I'll try to remember to get to this soon.

[2021-02-21 19:58] eddyb opened #460 "[xml] duplicate <enum>s (GL_NO_ERROR, GL_CONSERVATIVE_RASTER_MODE_NV)."
These were found while writing a new parser for `gl.xml`:
* `<feature api="glsc2" name="GL_SC_VERSION_2_0" number="2.0">`
  * `<require>`
    * 2x `<enum name="GL_NO_ERROR"/>` (lines 40311 and 40517 at 2afca877b25ec2c7f19ddcba21a8627b9fa8e026)
* `<extension name="GL_NV_conservative_raster_pre_snap_triangles" supported="gl|glcore|gles2">`
  * `<require>`
    * 2x `<enum name="GL_CONSERVATIVE_RASTER

[2021-02-22 03:59] #460 closed

[2021-02-22 04:02] oddhack commented on #460
Fixed, thanks. N.b. while this is an oversight, it's not actually an error and has no effect on the generated headers - the XML needs to be traversed in dependency order and it's normal for the same token / command to be referenced multiple times. But it's pointless to duplicate in the same \<require> block, that's probably due to cut & paste from API specs with insufficient attention to detail.

[2021-02-22 04:06] #457 closed

[2021-02-22 04:06] oddhack commented on #457
Fixed. Note, no effect on generated headers due to the way alias enums are emitted.

[2021-02-23 13:38] eddyb commented on #455
I don't think `T[2]` vs `T*`can be a backwards-compatibility issue?
It's *not* `T[static 2]` which means "array of length `2`", it's `T[2]` which is just "array of `T`" and the `2` doesn't do anything.

[2021-02-23 13:46] eddyb commented on #455
Even if it were `T[static 2]`, looks like *even that* would be backwards-compatible: https://godbolt.org/z/jsz1Ma.

[2021-02-23 18:08] Perksey commented on #455
It's not my call to make, but generally we avoid XML changes that result in changes to the resultant header.

[2021-02-23 18:13] Lokathor commented on #455
This is one of the annoying one-off special cases that a program parsing the XML needs to know to look for and needs to know how to convert. Using the `len` tag attribute like other places to would be much better.

[2021-02-23 18:15] Perksey commented on #455
For sure, but the XML file, as far as Khronos is concerned, is just a file used to organize commands and enums, as well as construct C headers - the latter being the most influential factor in its design. The function pointers and typedefs are a great example of this.

[2021-02-23 18:16] eddyb commented on #455
Are changes to `comment="..."` fields allowed? If so, how is this any different? The `T x[2]` syntax might as well be `T *x /* 2 */`.

[2021-02-26 16:43] Perksey commented on #455
`comment` attributes are ignored by the header generator, so yes changes are allowed but it won't make any difference.

[2021-02-26 16:50] Lokathor commented on #455
Question: Why can't the header generator simply pay attention to the len attribute?

But also: the `comment` field should not be used for this, just the `len` field.

[2021-02-28 08:54] eddyb commented on #455
Correct, I was making a comparison in terms of semantic impact, having misremembered that `comment`s end up in the header.

<hr/>

Looks like long-term, `gl.xml` isn't as usable as it could be, and someone will probably have to start to maintain a fixed up version of it - I've been eyeing an automated merge with [Mesa's `gl_API.xml`](https://gitlab.freedesktop.org/mesa/mesa/-/raw/master/src/mapi/g

[2021-02-28 09:27] Lokathor commented on #455
i have approximately come to the same conclusion and have begun doing that in the past few weeks. though not in xml form, just directly in rust form in my case.

[2021-03-04 20:24] NogginBops commented on #455
I mean it's all up to Khronos if they think this is a change they can make. So we have to wait to hear from them on this issue.

Semantically the c code is equivalent to a pointer argument (it will compile to the same thing), so it's not a correctness issue.

If anything it is most likely an issue related to documentation and extension specification consistency (it should ideally be updated in the

[2021-03-04 23:54] Perksey commented on #455
I think this is one that one of the NVIDIA guys should comment on, but I'm sure Piers will see this in time.

[2021-03-05 19:51] pdaniell-nv commented on #455
It's not totally clear to me what the change related to NV_path_rendering you have in mind would be, but if its a valid fix I can help push that through. What does the XML change look like?

[2021-03-05 20:49] Perksey commented on #455
As I understand it, the participants in this issue propose:
[code]

The argument being that `[2]` is non-standard for the XML and headers.

[2021-03-05 23:15] pdaniell-nv commented on #455
That change sounds good to me. If you want to create a PR for it I'll approve and get it merged. I'll also follow up with an extension spec tweak.

[2021-03-06 14:09] Perksey commented on #455
Done, #462

[2021-03-26 15:00] eddiejames opened #463 "[xml] functions missing from EXT_gpu_shader4"
Hi, the following function definitions seem to be missing from the XML for EXT_gpu_shader4:

[code]

They are instead listed under NV_vertex_program4. This makes sense according to the extension specification, but the extension also notes: `(note:  all these functions are shared with the EXT_gpu_shader4 extension.)`

So I think they should be listed in both places? Not sure how the XML handles tha

[2021-03-26 15:23] oddhack commented on #463
That seems correct. The worst consequence of duplicating them in the EXT is that the prototypes may move inside the generated headers, since the header generator is dependency-based. Would you like to submit a PR to this effect, preferably with a comment= in the new \<require> block explaining why the duplication?

[2021-04-02 07:27] #455 closed

[2021-04-20 11:12] #335 closed

[2021-04-20 11:13] #463 closed

[2021-04-27 23:52] lucmann opened #467 "Improper example for input variable declaration in VS in ESSL 3.20 spec"
I read about input variable type for vertex shader in GLSL_ES_Specification_3.20

the section below quotes from 4.3.4. Input Variables at P48:

It is a compile-time error to declare a vertex shader input with, or that contains, any of the
following types:
• A boolean type
• An opaque type
• An array
• A structure
Example declarations in a vertex shader:
[code]

I wonder that if the last one of exa

[2021-05-07 13:51] shiyani21 opened #470 "Focal Length"
I am doing transformation from physics simulation to image space, I keep getting the focal length to be 0.234, and I have found using glviewport how to get coordinated from clip space to window space but since my focal length is so tiny the transformed pixel coordinates only move around in the tiny space. How do i fix my focal length? is there a magnification ratio?

[2021-05-11 19:52] #470 closed, assigned to nobody

[2021-05-12 15:23] gnl21 commented on #467
Yes, that example is incorrect. It's valid in the desktop shading language but not in ES. It'll be removed in the next revision of the spec.

[2021-05-13 15:31] davids91 opened #472 "Compute Shader device support documentation"
Targeting GLES2, I've found myself in big blocks while implementing a certain massively parallelizable game logic (basically a grid based particle simulation for a sandbox game ).

There are multiple choices to utilize GPUs, I considered using openCL, Compute shaders and in the hopes of supporting more devices ( especially in mobile space )  I also considered implementing the logic in fragment sha

[2021-05-25 17:28] pdaniell-nv commented on #472
The forums are probably a better place to ask this question: https://community.khronos.org/

[2021-05-25 17:28] #472 closed

[2021-06-14 12:05] kusma opened #474 "Clarification wanted: wide lines + gl_FragCoord"
The OpenGL 4.6 Core Profile specification, section 14.5.2.2 "Wide Lines" has the following wording (emphasis is mine):

It's a bit unclear what that last bit means exactly. What is "as usual" in this case?

I think it's pretty obvious what is meant with the X and Y components, which are well-defined. But the Z and W components aren't really well-defined for wide lines. The only two interpretations

[2021-06-23 05:14] kusma commented on #474
Moved to https://github.com/KhronosGroup/OpenGL-API/issues/82

[2021-06-23 05:14] #474 closed

[2021-06-30 16:01] SteveBaker opened #476 "glGet document says that the value of MAX_VERTEX_TEXTURE_IMAGE_UNITS "may" be at least 16."
In https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glGet.xhtml all of the MAX_{whatever}_TEXTURE_IMAGE_UNITS sections say "**must be** at least XX" - but in the case of MAX_VERTEX_TEXTURE_IMAGE_UNITS it says "**may be** at least 16"...which is pretty nonsensical.   Presumably is just a typo.

[2021-08-03 19:23] matrefeytontias opened #478 "Inconsistencies related to buffer texture pnames"
In the latest refpages on the `glGet` page, `GL_TEXTURE_BINDING_BUFFER` has two incompatible definitions :
[code]
[code]
Moreover,  `glGetTexLevelParameter` does not list `GL_TEXTURE_BUFFER_DATA_STORE_BINDING` as an accepted pname, in contrast with eg the OpenGL ES 3 refpages that do list it. Besides, the OpenGL 4.6 core spec makes no mention of this pname.

Worthy of note is also that the refpage

[2021-08-03 19:28] pdaniell-nv commented on #478
Thanks for reporting this issue.

Regarding this:

It's on page 599 of the OpenGL 4.6 core spec (https://www.khronos.org/registry/OpenGL/specs/gl/glspec46.core.pdf) in Table 23.17. Some PDF readers have trouble searching for tokens with underscores when the page is landscape.

We'll look into the other issues you reported.

[2021-08-09 10:23] oddhack opened #479 "Upcoming renaming of master -> main branch planned for late August 2021"
@pdaniell-nv and other interested parties: heads-up that we propose to rename the default branch of this repository to 'main' in late August 2021, following emerging Khronos & github practice (for Khronos members, see internal khronos-general issue 106). This will have very little impact, although if you have a checked-out repository clone, you may want to follow the simple instructions github wil

[2021-08-09 10:32] Perksey commented on #479
Thanks for posting this!

I assume unlike the Vulkan rename that this will use the new GitHub functionality to facilitate this? We got caught out in a nasty way when Vulkan's repo was renamed.

[2021-08-09 10:35] oddhack commented on #479
Yes. The github renaming tool didn't exist last year when we did this for Vulkan-Docs and it handles a lot of forwarding and renaming stuff for us, so there should be relatively few cases where people are affected.

[2021-08-10 08:47] Perksey opened #481 "Establishing a breaking change policy for groups"
The strongly-typed enum groups which were "standardised" in #335 and have been heavily iterated upon for correctness since are garnering more use as time goes on. Google (for ANGLE) and Arm (for a debugging/API trace tool: [more info](https://github.com/KhronosGroup/OpenGL-Registry/pull/480#discussion_r685805570)).

Given Khronos do not use the group information directly themselves, they have ofte

[2021-08-10 10:37] Lucretia commented on #481
The groups are so important for strongly typed languages, like Ada, where we can have enums which enclose the allowed values.

[2021-08-11 16:56] NogginBops commented on #481
You forgot to give @frederikja163 a ping.

Personally I do think that because the enum groupings are very loose as they are today saying that changes to them cannot be made feels like a very bad decision. It will lock the groups into the usability they have today, which albeit useful are not as useful as they could conceptually be.

In an ideal case I would want every enum function argument in `gl

[2021-08-12 00:13] Lucretia commented on #481
It is possible to do. Most people forget or just don't know that these groupings existed in the OpenGL spec files years ago, because SGI used to use them to generate Ada bindings to OpenGL. Any talk of OpenGL is a C API is arrogantly forgetting other languages that use this information and there are many, they need to be maintained.

[2021-08-12 08:41] oddhack commented on #481
If you folks can get together and figure out a governance mechanism for these annotations that we can incorporate in gl.xml without much churn (in particular, without affecting the C headers), that's great. But it's not arrogance to say that Khronos only defines a C API for OpenGL, and we don't have time or motivation for active involvement in other language bindings. That goes back more than 20 y

[2021-08-12 09:02] Perksey commented on #481
@Lucretia They would be breaking changes if we wanted to change the group a parameter takes, this is the issue. We can add more groups no problem, but removing groups or changing the `param` or `proto` `group` attributes would cause a breaking change downstream.

Also, OpenGL has been around since the 90s and can't do anything much about decisions made back then, such as the C standard to use. C90

[2021-08-24 10:48] oddhack commented on #479
Default branch has been renamed.

[2021-08-24 10:48] #479 closed